div(class='mp-button-container #{$component.className}' attributes=$helpers.getButtonAttrs())
  .mp-button-text
    content
    if $component.isAttributeEnabled('arrow-next')
      .mp-button-arrow-next
        include ./arrow.svg
