@import '../../../stylesheets/common'

background-primary = blue-300 linear-gradient(to bottom, #50AEFF, #46A2FF)
background-primary-hover = blue-100 linear-gradient(#73bdff, #65b3ff)
background-primary-modal = blue-300
background-primary-modal-hover = blue-100
background-primary-on-blue = blue-300 linear-gradient(to bottom, #7fc1ff, #6fb9ff)
background-primary-on-blue-hover = blue-100 linear-gradient(#8cc7ff, #7bbfff)
background-primary-red = mp-red linear-gradient(#EA8499, #E4687D)
background-primary-red-hover = mp-red linear-gradient(to bottom, #ED92A4, #EA8499)

+prefix-classes('mp-button-')
  .container
    align-items center
    border-radius 4px
    box-sizing border-box
    cursor pointer
    display inline-flex
    flex 1
    font-family 'Helvetica Neue', helvetica, sans-serif
    font-size 13px
    font-weight 700
    justify-content center
    line-height 15px
    padding 12px 25px
    text-align center
    text-transform uppercase

    .text
      display inline-flex
      align-items center
      justify-content center

      .arrow-next
        margin-left: 10px;
        width: 15px;
        svg path
          fill #fff

    &.modal
      background background-primary-modal
      background-image none
      border-radius 0 0 6px 6px
      border none
      box-shadow inset 0 1px 0 0 #3b99f0
      color #fff
      font-size 15px
      font-weight 400
      height 60px
      letter-spacing .7px
      padding 0
      display flex
      text-transform none
      transition background 200ms

      &:hover
        background background-primary-modal-hover

    &.primary
      background background-primary
      border 1px solid blue-700
      box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.2)
      color #fff

      &:hover{not-disabled}
        background-image: linear-gradient(to top, #2f95fd, #4aabfe), linear-gradient(grey-700, grey-700);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);

      &:active{not-disabled}
        background-image linear-gradient(to top, #2f95fd, #4aabfe), linear-gradient(#50aaff, #50aaff)
        box-shadow inset 0 1px 1px 0 rgba(0, 0, 0, 0.31)
        color rgba(255, 255, 255, 0.6)

      {disabled}
        cursor default
        .text
          opacity 0.6

      &.on-blue
        background background-primary-on-blue
        box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.06)

        &:hover{not-disabled}
          background-image: linear-gradient(to bottom, #89c5ff, #68b5ff), linear-gradient(#80c1ff, #80c1ff);
          border: solid 1px #1d85e7;

        &:active{not-disabled}
          background-image linear-gradient(to bottom, #89c5ff, #68b5ff), linear-gradient(#8bc7ff, #8bc7ff)
          border solid 1px #1d85e7
          box-shadow inset 0 1px 2px 0 rgba(0, 0, 0, 0.2)

      &.red
        background background-primary-red
        border 1px solid #FF5400
        border-image-source linear-gradient(to top, #d15269, #e46d83)
        border-image-slice 1

        &:hover{not-disabled}
          background background-primary-red-hover

    &.secondary
      background-color #fff
      border 1px solid grey-200
      box-shadow 0px 1px 2px 0px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.17)
      color grey-700

      &:hover
        border 1px solid grey-300
        box-shadow 0px 1px 2px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.17)

      &:active
        border-color grey-300
        box-shadow 0 1px 0 0 #e3eaf0, inset 0 2px 3px 0 #dfe5eb

      &.on-blue
        background-color blue-300
        border-color blue-700
        box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.06)
        color #fff

        &:hover
          border-color blue-900

        &:active
          border-color #2583dd
          box-shadow 0 1px 1px 0 rgba(0, 0, 0, 0.06), inset 0 1px 2px 0 rgba(0, 0, 0, 0.2)
