div(class='mp-button-container #{$component.className}' attributes=$helpers.getButtonAttrs())
  .mp-button-content
    if $component.getAttribute('icon')
      svg-icon(attributes={icon: $component.getAttribute('icon')})
    content
    if $component.isAttributeEnabled('arrow-next')
      .mp-button-arrow-next
        include ./arrow.svg
