.mp-button-container(
  attrs=$helpers.getButtonAttrs()
  class=$helpers.extendComponentClasses({
    'mp-button-with-icon': !!$component.getAttribute('icon'),
    'mp-button-blue': $component.getAttribute('color') === 'blue',
    'mp-button-grey': $component.getAttribute('color') === 'grey',
    'mp-button-small': $component.getAttribute('size') === 'small',
    'mp-button-large': $component.getAttribute('size') !== 'small',
  })
)
  .mp-button-content
    if $component.getAttribute('icon')
      svg-icon(attrs={icon: $component.getAttribute('icon')})
    content
