.mp-button-container(
  attrs=$helpers.getButtonAttrs()
  class=$helpers.extendComponentClasses({'mp-button-with-icon': !!$component.getAttribute('icon')})
)
  .mp-button-content
    if $component.getAttribute('icon')
      svg-icon(attrs={icon: $component.getAttribute('icon')})
    content
