@import '../../stylesheets/defaults'

content-color(color)
  +content-styles()
    color color
    svg-icon
      svg, path
        color color
        fill color
        transition 0s

icon-size(size=none, pos-left=0, pos-top=0)
  svg
    if size != none
      height size
      min-height size
      min-width size
      width size
    left pos-left
    top pos-top

+host-styles(mp-button)
  border-radius 5px
  display inline-block
  height 44px

+prefix-classes('mp-button-')
  .container, .container *
    box-sizing border-box

  .container
    align-items center
    border 1px solid
    border-radius inherit
    box-shadow 0 1px 1px 0 alpha(black, 0.2)
    cursor pointer
    display inline-flex
    font-family family-helvetica
    font-size-medium()
    font-weight weight-bold
    height 100%
    justify-content center
    letter-spacing 0
    padding 0 25px
    text-align center
    user-select none
    width 100%

    .content
      align-items center
      display inline-flex
      justify-content center
      line-height 18px

    +content-styles()
      svg-icon
        margin-right 6px

    {disabled}
      box-shadow none
      cursor default
      .content
        opacity 0.6

    /* BEGIN COLOR THEMES */

    &.primary, &.blue
      background-image linear-gradient(0deg, mp-blue 0, blue-100 100%)
      border-color blue-500
      content-color(white)

      &:hover{not-disabled}
        background-image linear-gradient(0deg, blue-100 0, blue-100 100%)
        box-shadow 0 1.5px 2.5px 0 alpha(black, 0.3)

      &:active{not-disabled}, &.active{not-disabled}
        background-image linear-gradient(0deg, mp-blue 0, blue-100 100%)
        border-color mp-blue
        box-shadow 0 1px 1px 0 alph(black, 0.0), inset 0 2px 2px 0 alpha(black, 0.2)
        content-color(alpha(white, 0.6))

      &.on-blue
        border-color blue-900
        box-shadow none

        &:hover{not-disabled}
          background-image linear-gradient(0deg, mp-blue 0, blue-100 100%)
          box-shadow 0 1px 1px 0 alpha(black, 0.2)

        &:active{not-disabled}, &.active{not-disabled}
          border-color blue-700
          box-shadow 0 1px 1px 0 alpha(black, 0.0), inset 0 2px 2px 0 alpha(black, 0.2)

    &.secondary, &.grey
      background-image linear-gradient(0deg, grey-50 0, white 100%)
      border-color grey-300
      content-color(grey-700)

      &:hover{not-disabled}
        background-image linear-gradient(0deg, white 0, white 100%)
        box-shadow 0 1px 2px 0 alpha(black, 0.23)
        content-color(mp-blue)

      &:active{not-disabled}, &.active{not-disabled}
        border-color grey-200
        box-shadow 0 1px 0 0 grey-150, inset 0 2px 3px 0 grey-200
        content-color(rgba(110, 133, 157, 0.8))

      &.on-blue
        background-color transparent
        background-image none
        border-color transparent
        box-shadow none
        content-color(alpha(white, 0.6))

        &:hover{not-disabled}
          background-image none
          border-color transparent
          box-shadow none
          content-color white

        &:active{not-disabled}, &.active{not-disabled}
          background-color mp-blue
          border-color transparent
          box-shadow none
          content-color(alpha(white, 0.6))

    &.red
      background-image linear-gradient(0deg, mp-red 0, red-300 100%)
      border-color red-700
      content-color(white)

      &:hover{not-disabled}
        background-image linear-gradient(0deg, red-300 0, red-300 100%)

      &:active{not-disabled}, &.active{not-disabled}
        background-image linear-gradient(0deg, mp-red 0, red-300 100%)
        box-shadow 0 1px 1px 0 alpha(black, 0.0), inset 0 2px 2px 0 alpha(black, 0.2)
        content-color(alpha(white, 0.6))

    /* ICON STYLES */

    &.with-icon
      padding 0 25px 0 16px

    +content-styles()
      svg-icon
        &[icon='x']
          margin-right 2px

        &[icon='plus']
          icon-size(size: 30px, pos-top: -4px)

        &[icon='caret-up'], &[icon='caret-down']
          margin-right 2px

    /* END ICON STYLES */
