@import 'colors.styl'

/* Typopgrahy families */
family-helvetica = 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif;
family-proxima-nova = 'Proxima Nova', 'proxima-nova', sans-serif // deprecated

/* Typography weights */
weight-regular = 400
weight-medium = 500
weight-bold = 600

/* Typography sizes */
font-size-xl() 
  font-size 18px

font-size-large()
  font-size 16px

font-size-medium()
  font-size 14px

font-size-default() // default body font size
  font-size 12px

font-size-xs()
  font-size 11px 
  text-transform uppercase

font-paragraph()
  color grey-700
  font-size-medium()
  font-family family-helvetica
  font-stretch normal
  font-weight weight-medium
  line-height 18px

