{
  "plugins": [
    "babel-plugin-import-glob",
    ["babel-plugin-inline-import", {
      "extensions": [".svg"]
    }],
    "babel-plugin-stylus-compiler",
    "babel-plugin-virtual-jade"
  ],
  "presets": ["es2015"]
}
