active = '&:active,&[active]'

background-color-dark = #3391e9
background-color-light = #50aaff

baseline-vertical = 6
baseline-horizontal = 20

color-dark = #4c6072
color-light = #ffffff
color-med-dark = #6e859d
color-med-light = #9cacbb

disabled = '&:disabled,&[disabled]'

font-family-button = 'Helvetica Neue'
font-family-list-item = 'Helvetica Neue'
font-family-paragraph = 'Helvetica Neue'
font-family-subtitle = 'Proxima Nova'
font-family-title = 'Proxima Nova'

font-size-list-item = 13px
font-size-paragraph = 14px
font-size-subtitle = 15px
font-size-title = 18px

font-weight-bold = 700
font-weight-medium = 500
font-weight-semi-bold = 600

*:focus
  outline 0

font-list-item()
  color color-med-dark
  font-family font-family-list-item
  font-size font-size-list-item
  font-weight font-weight-medium

font-paragraph()
  color color-med-dark
  font-family font-family-paragraph
  font-size font-size-paragraph
  font-weight font-weight-medium

font-subtitle()
  color color-dark
  font-family font-family-subtitle
  font-size font-size-subtitle
  font-weight font-weight-semi-bold

font-title()
  color color-dark
  font-family font-family-title
  font-size font-size-title
  font-weight font-weight-semi-bold
