@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

.icons
  display flex
  flex-direction row
  flex-wrap wrap
  
  .icon
    display flex
    flex-direction row
    padding-bottom 10px
    svg-icon-style(grey-900, blue-100)
    width 220px


    .icon-name
      padding-left 20px
