@import '../../../../build/stylesheets/mixins/common.styl'

.icons
  display flex
  flex-direction row
  flex-wrap wrap
  margin-top 45px
  
  .icon-large
    width 135px
    height 135px

  .icon-small
    width 50px
    height 50px
    svg-icon-style(size: 16px)

  .icon
    display flex
    flex-direction row
    padding-bottom 10px
    position relative
    margin 0 20px 50px 0
    align-items center
    svg-icon-style(grey-700, blue-100)
    padding 0
    
    svg-icon
      margin 0 auto
      transform scale(1.33)

    .icon-name
      position absolute
      bottom -30px
      left 5%
      text-align center
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      width 90%
      font-size-medium()
  
  :hover
    &.icon 
      background #FFFFFF
      border 1px solid mp-blue
      box-shadow 0 2px 4px 0 rgba(0,0,0,0.07)
      color blue-300
      fill blue-300
      
    .icon-name
      color mp-blue
      
.common-example
  border-radius 0px !important

.zoom-toggles
  list-style-type none
  display inline-flex
  width 89%
  flex-direction row-reverse
  position relative
  top 1px
  z-index 100
  align-items baseline
  > li
    margin-left 15px
    padding 15px
  .zoom-selected
    color grey-700
    font-weight weight-bold
    border-bottom 2px solid mp-blue

  .zoom-toggle
    cursor pointer
