include ../mixins.jade

.section
  .section-title
    .title-text Iconography
    .title-section 3.1
  //- .section-nav
    //- +section-nav-item('Show All')
    //- +section-nav-item('UI')
    //- +section-nav-item('Marketing')
    //- +section-nav-item('Legacy')
  .divider 
  .section-content
    section.ui-icons
      .subsection-title UI Icons
      .subsection-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa et libero condimentum dignissim at ut odio. Aliquam placerat libero metus, et fringilla nisl dictum vitae. Sed at lacus eu risus fermentum consequat.
      .indent-container
        .icons
          each icon in Object.keys(SVG_ICONS)
            .icon.common-example
              svg-icon(attrs={icon})
              .icon-name= icon
        .code-snippet
          .call-out.first-call-out
            strong.icon +
            strong Example Code
          .snippet-container.min.max
            .snippet-header
              label Jade
            .code-field
              pre
                | 1
                br
                | 2
                br
                | 3
                br
                | 4
                br
                | 5
                br
                | 6
              pre
                span.grey-500  /* Standalone */
                br
                b  .container-class
                br
                span.mp-purple     svg-icon(attrs={
                span.mp-red 'icon-name'
                span.mp-purple }) 
                br
                br
                span.grey-500  /* Button declaration */
                br
                b  mp-button
                span.mp-purple (attrs={icon: 
                span.mp-red 'x'
                span.mp-purple })
                b .mp-button-with-icon 