@import '../common'

background-primary = blue-300 linear-gradient(to bottom, #50AEFF, #46A2FF)
background-primary-hover = blue-100 linear-gradient(#73bdff, #65b3ff)
background-primary-on-blue = blue-300 linear-gradient(to bottom, #7fc1ff, #6fb9ff)
background-primary-on-blue-hover = blue-100 linear-gradient(#8cc7ff, #7bbfff)

.mp-button
  border-radius 2px
  cursor pointer
  display inline-block
  font-family 'Helvetica Neue'
  font-size 13px
  font-weight 700
  letter-spacing 0.2px
  line-height 15px
  padding 12px 20px
  text-align center
  text-transform uppercase

  &.modal
    background background-primary
    border-radius 0 0 6px 6px
    border none
    box-shadow inset 0 1px 0 0 #3b99f0
    color #fff
    display block
    height 60px
    line-height @height
    padding 0
    text-transform none

    &:hover
      background background-primary-hover

  &.primary
    background background-primary
    border 1px solid blue-700
    box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.2)
    color #fff

    &:hover{not-disabled}
      background background-primary-hover

    {disabled}
      cursor default
      .text
        opacity 0.6

    &.on-blue
      background background-primary-on-blue
      box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.06)

      &:hover
        background background-primary-on-blue-hover

  &.secondary
    background-color #fff
    border 1px solid #dfe6f2
    box-shadow 0px 1px 2px 0px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.17)
    color grey-700

    &:hover
      border 1px solid #d2d9e4
      box-shadow 0px 1px 2px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 2px rgba(255, 255, 255, 0.17)

    &.on-blue
      background-color blue-300
      border-color blue-700
      box-shadow 0px 1px 1px 0px rgba(0, 0, 0, 0.06)
      color #fff

      &:hover
        border-color blue-900
