@import '../../build/stylesheets/defaults/index.css'
@import '../../build/stylesheets/mixins/common.styl'

.section
  margin-bottom 10px
  padding-bottom 10px
  border-bottom 1px solid grey-100

  .item-palette
    display flex
    flex-flow column wrap
    &.color-palette
      height 180px
    &.icon-palette
      height 320px

  .list-block
    align-items center
    display flex
    margin 5px
    svg-icon-style(grey-900, blue-100)

    .square
      display inline-block
      vertical-align middle
      margin-right 4px
      width 20px
      height 20px

    .label
      display inline-block
      font-list-item()
      margin-left 10px
      vertical-align middle

  &.buttons
    mp-button
      margin-right 4px
      vertical-align middle

    p.button-field
      background mp-blue
      display table
      padding 10px

  &.toggles
    mp-toggle
      margin-bottom 10px
      &.inline-toggle
        width 300px
      &.full-width-toggle
        display block

    .toggle-val
      margin-left 10px

  &.menus
    .drop-menu-container
      position relative
