.mp-toast-stage
  if !$component.isAttributeEnabled('hide')
    .mp-toast-container(class={
        delayed: {'mp-toast-in': true},
        remove: {'mp-toast-out': true, delayRemove: 250},
      })
      .mp-toast-widget
        .mp-toast-message
          content
        .mp-toast-cta(on={click: $helpers.ctaClick})= $component.getAttribute('cta')
        .mp-toast-close(on={click: $helpers.closeClick})
          svg-icon(attrs={icon: 'x'})
