@import '../../stylesheets/defaults'

+host-styles(mp-drop-menu)
  border-radius 5px
  display flex
  width 340px

+prefix-classes('mp-tag-selector-')
  .container
    border-radius inherit
    width 100%

    &, *
      box-sizing border-box

    .spinner
      display flex
      height 72px

    .top-input-wrapper
      margin 0 auto
      margin-bottom 20px
      padding 0 20px

      .input-wrapper
        align-items center
        cursor text
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content flex-start
        min-height 36px
        padding 6px 6px 0px
        position relative
        width 300px

        .icon-wrapper
          height 16px
          margin 2px 10px 9px 10px
          margin-left 8px
          svg-icon-style(size: 16px)

          .loaded
            svg, path
              color green-300
              fill green-300

          .loaded-error
            svg, path
              color mp-red
              fill mp-red

          mp-spinner
            height 16px
            width 16px

        .border
          border 1px solid grey-200
          border-radius 3px
          height 100%
          left 0
          pointer-events none
          position absolute
          top 0
          width 100%

          &.loaded-error
            border-color mp-red

        .tag
          align-items center
          background-color grey-900
          border 1px solid
          border-radius 42px
          display inline-flex
          flex-direction row
          font-size 11px
          font-weight weight-bold
          height 24px
          justify-content center
          margin 0 2px 6px
          padding 0 4px

          span
            color white
            margin 0 auto
            margin-top -2px
            padding 0 8px
            vertical-align middle

          .close-icon
            cursor pointer
            svg-icon-style(grey-500, mp-red, size: 15px)

        .search-input
          background-color transparent
          border 0
          font-family family-helvetica
          font-size-default()
          font-weight weight-regular
          height auto
          line-height 1.5
          margin-left 6px
          margin-bottom 6px
          min-width 0
          max-width 100%
          padding 0

          &:focus + .border:not(.loaded-error)
            border-color mp-blue

    .hr
      background-color grey-200
      height 1px
      width 100%

    .tag-list
      max-height 280px
      overflow-y auto

    .footer
      box-sizing border-box
      cursor pointer
      display flex
      flex-direction row
      flex-wrap wrap
      font-size-medium()
      font-weight weight-bold
      justify-content center
      max-width 100%
      padding 14px 20px
      width 100%
      word-wrap break-word

      &:hover
        background-color grey-100

      .copy
        align-self center
        color blue-700
        white-space pre

      .label-name
        align-self center
        color grey-900
        max-width 100%
        word-wrap break-word

  .search-input-dummy
    font-family family-helvetica
    font-size-default()
    font-weight weight-regular
    padding 0
    position absolute
    white-space nowrap
    visibility hidden

