@import '../../stylesheets/defaults'

+host-styles(mp-drop-menu)
  border-radius 5px
  display flex
  width 340px

+prefix-classes('mp-tag-selector-')
  .container
    border-radius inherit
    width 100%

    &, *
      box-sizing border-box

    .top-input-wrapper
      margin 0 auto
      margin-bottom 20px
      padding 0 20px

      .input-wrapper
        align-items center
        cursor text
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content flex-start
        min-height 36px
        padding 6px 6px 0
        position relative
        width 300px

        .mp-icon
          align-items center
          bottom 0
          display flex
          left 8px
          position absolute
          top -1px

          svg-icon-style(grey-500)

        mp-tag
          margin 0 0 6px 4px
          opacity 0
          transition all 0.25s

          &.tag-in
            opacity 1

          &.tag-out
            opacity 0

        .border
          border 1px solid grey-200
          border-radius 5px
          height 100%
          left 0
          pointer-events none
          position absolute
          top 0
          transition border-color 0.25s
          width 100%

          &.error
            border-color mp-red

        &:active .border
          border-color blue-500

        .search-input
          background-color transparent
          border 0
          font-family family-helvetica
          font-size-default()
          font-style normal
          font-weight weight-regular
          height auto
          line-height 1.5
          margin-bottom 7px
          margin-left 6px
          max-width 100%
          min-width 0
          padding 0

          &.empty
            padding-left 24px
            padding-top 1px

          &:focus + .border:not(.loaded-error)
            border-color blue-500

    .empty
      font-style italic

    .hr
      background-color grey-150
      height 1px
      width 100%

    .tag-list
      margin-bottom 8px
      max-height 280px
      overflow-y auto

      mp-list-item
        margin-left 12px
        margin-right 12px
        svg-icon-style(grey-700, size: 16px, speed: 0s, pos-left: -3px, pos-top: -1px)

        &:last-child
          margin-bottom 0

        &[active='true'], &:hover
          svg-icon-style(blue-300, size: 16px, speed: 0s, pos-left: -3px, pos-top: -1px)

        .tag-list-item
          display block

  .save-btn
    mp-spinner


  .create-tag-btn
    display flex
    max-width 100%
    overflow hidden
    white-space nowrap

    .copy
      color grey-900
      flex none
      margin-right 4px

    .label-name
      color blue-700
      flex 1
      overflow hidden
      text-overflow ellipsis

  .search-input-dummy
    font-family family-helvetica
    font-size-default()
    font-weight weight-regular
    padding 0
    position absolute
    visibility hidden
    white-space nowrap

