mixin section-nav-item(text)
  - const name = text.toLowerCase();
  .nav-item(
    on={click: $helpers.sectionChange}
    class={selected: sectionFilter === name}
    attrs={'data-filter-name': name}
  )= text
