@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

input
  border none
  background-color #FCFCFC

.search-page .section-title input
  font-weight bold
  