.screen-list-container(
  hook={postpatch: $helpers.handlePostPatch}
)
  - const sections = $helpers.getSections()
  if !sections.length
    li.list-option.list-empty Your search returned no results
  else
    each section, idx in sections
      if idx
        .section-divider
      if section.label
        .section-label= section.label
      ul.screen-options-list
        each item in section.items
          - const isSelectable = !item.isDisabled && (!item.isSelected || item.hasCaret)
          - const isFocused = focusedItemIndex === item.index
          li.list-option(
            class={
              disabled: item.isDisabled,
              focused: isFocused,
              selected: item.isSelected,
              selectable: isSelectable,
            }
            on={
              click: isSelectable ? ev => {
                if (item.handleClickItem) {
                  item.handleClickItem($helpers.unwrapItem(item));
                } else {
                  $helpers.handleClickItem(item);
                }
              } : null,
              mouseenter: () => $helpers.handleMouseenterItem(item),
            }
          )
            +screen-option(item.label, {
              icon: item.icon,
              matches: item.matches,
            })
            if item.hasPropertiesPill
              .secondary-action.pill(
                class={
                  focused: isFocused && isPropertiesPillFocused,
                  disabled: item.isPropertiesPillDisabled,
                }
                on={
                  click: !item.isPropertiesPillDisabled ? () => {
                    if (item.handleClickPropertiesPill) {
                      item.handleClickPropertiesPill($helpers.unwrapItem(item));
                    } else {
                      $helpers.handleClickPropertiesPill(item);
                    }
                  } : null,
                  mouseenter: () => $helpers.handleMouseenterPropertiesPill(item),
                  mouseleave: () => $helpers.handleMouseleavePropertiesPill(item),
                }
              )
                span Properties
                .pill-caret
                  svg-icon(attrs={icon: `caret-right`})
            else if item.hasCaret
              .secondary-action.caret
                svg-icon(attrs={icon: `caret-right`})
      if section.isLoading
        .loading-items
          mp-spinner

mixin screen-option(label, options)
  - options = options || {}
  - const icon = options.icon
  .option-icon
    svg-icon(attrs={icon, empty: !icon})
  .option-label
    if options.matches
      each substr, si in options.matches
        span.substr(class={'matches-search': !(si % 2)})= substr
    else
      span.label= label
