.mp-button-bar-container(
  attrs=$helpers.getButtonAttrs(),
  class=$helpers.extendComponentClasses({
    'mp-button-bar-with-icon': !!$component.getAttribute('icon'),
    'mp-button-bar-blue': $component.getAttribute('color') === 'blue',
    'mp-button-bar-grey': $component.getAttribute('color') === 'grey',
  })
)
  .mp-button-bar-content
    content
  if $component.isAttributeEnabled('arrow-next')
    .mp-button-bar-arrow-next
      svg-icon(attrs={icon: 'arrow-right'})
