@import '../../stylesheets/defaults'

+prefix-classes('mp-bm-')
  +host-styles(mp-bookmarks-widget)
    background-color grey-100
    background-image linear-gradient(grey-50 0, grey-100 100%)
    box-shadow 0 1px rgba(0, 0, 0, 0.05)
    box-sizing border-box
    height 54px
    width 145px

  .container, .container *
    box-sizing border-box

  .container
    color grey-700
    display inline-flex
    flex-direction column
    height 100%
    width 100%

    .btn
      align-items center
      cursor pointer
      display inline-flex
      font-family family-helvetica
      font-size-default()
      font-weight weight-bold
      height 100%
      justify-content center
      user-select none
      width 100%

      svg-icon-style(grey-700, grey-900, speed: 0)

      .btn-icon
        height 22px
        margin-right 4px

      &:hover
        background-color rgba(255, 255, 255, 0.35)
        color grey-900

    .menu
      height 0
      position relative
      width 100%

      mp-drop-menu
        left initial
        right -8px
        top -10px

+prefix-classes('mp-bm-menu-') // @stylint ignore
  .container, .container *
    box-sizing border-box

  .container
    background-color white
    border-radius 5px
    width 320px

    &.open
      display block

    .search
      align-items center
      background-color white
      border 1px solid grey-150
      border-top-left-radius 5px
      border-top-right-radius 5px
      display flex
      height 60px
      justify-content center
      padding 12px 15px
      width 100%

      icon-input(icon-color: grey-500, icon-size: 22px)

      .mp-icon
        left 24px
        top -1px

    .list
      border-bottom-left-radius 5px
      border-bottom-right-radius 5px
      max-height 360px
      overflow-y auto

      mp-list-item
        .empty
          font-style italic

        .section-header
          color grey-700
          font-size-xs()
          font-weight weight-bold

        .bookmark-row
          align-items center
          display flex

          .bookmark-details
            display flex
            flex 1
            flex-direction column

            .name, .creator
              font-size-default()
              max-width 260px
              overflow hidden
              text-overflow ellipsis
              white-space nowrap

            .name
              color grey-700
              font-weight weight-medium
              line-height 14px
              margin-bottom 4px

            .creator
              color grey-300
              font-weight weight-regular

        .delete-button
          display none
          flex none
          height 22px
          margin-right 6px
          svg-icon-style(grey-200, mp-red, speed: 0.1s)

        &:hover .delete-button
          display block

        &[active="true"] .bookmark-row .bookmark-details
          .name, .creator
            color mp-blue


  .add
    align-items center
    display flex
    height 48px
    justify-content center
    width 100%

    mp-button-bar
      height 100%

    mp-input-group
      border-top 1px solid grey-200
      height 100%
      padding 6px
      width 100%
