size-default = 22px

svg-icon
  display inline-block
  height size-default
  min-height size-default
  min-width size-default
  position relative
  width size-default
  svg
    left 0
    position absolute
    top 0
