@import 'colors.styl'
@import 'typography.styl'
@import 'icons.styl'
@import 'shadowdom.styl'

disabled = '&:disabled,&[disabled]'
not-disabled = ':not([disabled]):not(:disabled)'

z-modal = 9000
z-overlay = 8000
z-dropdown = 7000

mp-box-shadow(size=10)
  box-shadow 0 (size)px (size * 4)px rgba(0, 0, 0, 0.15)
