content-styles()
  &
    {block}
  content::content // @stylint ignore
    {block} // @stylint ignore

host-styles(tagName, additionalSelector='')
  // apply host styles for FF, Safari, IE
  // :host doesn't work with webcomponents polyfill, so we have to use the tag name
  {tagName}{additionalSelector}
    display inline-flex
    {block} // @stylint ignore

  // since :host is a pseudo selector we need to wrap any additional selector with parens
  if additionalSelector != ''
    additionalSelector = '(' + additionalSelector + ')'

  // apply host styles
  :host{additionalSelector} // @stylint ignore
    display inline-flex
    {block} // @stylint ignore

