- const url = $component.getAttribute('url')
.mp-event-definition-wrapper
  if open
    .mp-event-definition-tooltip(class={
      delayed: {'mp-event-definition-in': true},
      remove: {'mp-event-definition-out': true, delayRemove},
    })
      .mp-event-definition-container
        .mp-event-definition-name= name
        .mp-event-definition-description= description
      .mp-event-definition-learn-more
        span Add definitions to your events with #[a(attrs={href: url}) Lexicon].
