- const url = $component.getAttribute('url')
.mp-event-definition-wrapper
  if open
    .mp-event-definition-tooltip(
      class={
        delayed: {'mp-event-definition-in': true},
        remove: {'mp-event-definition-out': true, delayRemove},
      }
    )
      .mp-event-definition-container
        .mp-event-definition-name= name
        .mp-event-definition-description= description
        if verified
          .mp-event-definition-verified
            .mp-event-definition-verified-icon
              svg-icon(attrs={icon: 'check-checkbox'})
            .mp-event-definition-verified-text
              = isMixpanelDefinition ? `This event is automatically tracked by Mixpanel.` : $helpers.getVerifiedText()
      .mp-event-definition-learn-more
        span Add descriptions to your events with #[a(attrs={href: url}) Lexicon].
