@import '../../../stylesheets/defaults'

+host-styles('mp-event-definition-tooltip-internal')
  display block
  position absolute
  z-index $z-tooltip

+prefix-classes('mp-event-definition-')
  .wrapper
    position relative

  .tooltip
    background-color white
    border-radius 6px
    box-shadow 0 3px 7px 0 alpha(black, 0.18)
    color grey-700
    opacity 0
    position absolute
    width 340px

    &.in
      opacity 1
      transition all 100ms ease-out-quart

    &.out
      opacity 0
      transition all 100ms ease-in-quart

    .container
      font-size-default()
      padding 12px 20px

      .name
        color grey-900
        font-weight weight-bold

      .description
        margin-top 12px

      .verified
        display flex
        margin-top 12px

        .verified-icon
          align-items center
          background-color mp-green
          border-radius 50%
          display flex
          height 12px
          svg-icon-style(white, size: 12px)
          width 12px

        .verified-text
          font-size 11px
          line-height normal
          margin-left 4px

    .learn-more
      border-top 1px solid grey-150
      font-size 11px
      padding 10px 20px

      a
        color blue-500

        &:hover
          text-decoration underline
