mixin nav-section-header(number, label)
  - const name = label.toLowerCase();
  .nav-section(
    on={click: $helpers.navSectionChange}
    attrs={'data-section-name': name}
    class={selected: sectionOpen === name}
  )
    .nav-number= number
    .nav-label= label

.navbar
  .nav-strip
  .nav
    +nav-section-header('01', 'Colors')
    if sectionOpen === 'colors'
      .sub-nav
        .sub-nav-section
          .sub-nav-label Mixpanel UI
          .sub-nav-number 1.1
        .sub-nav-section
          .sub-nav-label Data Visualization
          .sub-nav-number 1.2
        .sub-nav-section
          .sub-nav-label Gradients
          .sub-nav-number 1.3
        .sub-nav-section
          .sub-nav-label Color Use
          .sub-nav-number 1.4
        .sub-nav-section
          .sub-nav-label Hue Library
          .sub-nav-number 1.5
    +nav-section-header('02', 'Typography')
    if sectionOpen === 'typography'
      .sub-nav
        .sub-nav-section
          .sub-nav-label Sizes
          .sub-nav-number 2.1
        .sub-nav-section
          .sub-nav-label Weights
          .sub-nav-number 2.2
        .sub-nav-section
          .sub-nav-label Colors
          .sub-nav-number 2.3
        .sub-nav-section
          .sub-nav-label Pairings
          .sub-nav-number 2.4
    +nav-section-header('03', 'Iconography')
    if sectionOpen === 'iconography'
      .sub-nav
        .sub-nav-section
          .sub-nav-label UI Icons
          .sub-nav-number 3.1
        .sub-nav-section
          .sub-nav-label Legacy
          .sub-nav-number 3.2
        .sub-nav-section
          .sub-nav-label Marketing
          .sub-nav-number 3.3
    +nav-section-header('04', 'Buttons')
    if sectionOpen === 'buttons'
      .sub-nav
        .sub-nav-section
          .sub-nav-label Types
          .sub-nav-number 4.1
        .sub-nav-section
          .sub-nav-label Measure
          .sub-nav-number 4.2
        .sub-nav-section
          .sub-nav-label Color Use
          .sub-nav-number 4.3
        .sub-nav-section
          .sub-nav-label Interactions
          .sub-nav-number 4.4
    +nav-section-header('05', 'Components')
    if sectionOpen === 'components'
      .sub-nav
        .sub-nav-section
          .sub-nav-label Modals & Pop-ups
          .sub-nav-number 5.1
        .sub-nav-section
          .sub-nav-label Alerts
          .sub-nav-number 5.2
        .sub-nav-section
          .sub-nav-label Hover Interactions
          .sub-nav-number 5.3
        .sub-nav-section
          .sub-nav-label Links
          .sub-nav-number 5.4
    +nav-section-header('06', 'Widgets')
    if sectionOpen === 'widgets'
      .sub-nav
        .sub-nav-section
          .sub-nav-label Bookmark Widget
          .sub-nav-number 6.1
        .sub-nav-section
          .sub-nav-label Tag Selector
          .sub-nav-number 6.2
        .sub-nav-section
          .sub-nav-label Calendar
          .sub-nav-number 6.3
