@import '../../../../build/stylesheets/mixins/common.styl'

.nav-strip
  background-color #FFFFFF
  border-right 1px solid grey-200
  position fixed
  top 0
  bottom 0
  left 0
  width 15px
  z-index 0

.nav
  box-sizing border-box
  height 100%
  list-style-type none
  width 300px
  overflow-y scroll
  padding 180px 0 60px 0
  position fixed
  top 0
  left 0
  
  .nav-section
    border-left 15px solid mp-blue
    color grey-900
    cursor pointer
    padding 12px 0 0 45px

    &:hover
      color mp-blue

    &.selected
      color mp-blue

    .nav-number
      color grey-300
      font-size-medium()
      font-weight weight-bold
      margin-bottom 4px
    
    .nav-label
      border-bottom 1px solid grey-200
      display block
      font-size 20px
      line-height 16px
      padding 0 0 19px 23px

  .sub-nav
    display flex
    flex-direction column
    border-left 15px solid #89C6FF // not an mp-color
    color grey-700
    cursor pointer
    padding 12px 0 0 45px
    
    :last-child
      border-bottom 1px solid grey-200
      padding-bottom 30px !important
      
    .sub-nav-section
      display flex
      flex-direction row
      font-size-large()
      padding 18px 0 6px 23px
      font-family family-helvetica

      .sub-nav-number
        color grey-500
        display none
        font-size-medium()
        font-weight weight-bold
        position absolute
        right 30px

      &:hover
        .sub-nav-number
          display block
          border-bottom none !important
