@import '../../stylesheets/defaults'

mp-modal
  width 305px


+prefix-classes('mp-upsell-popup-')
  .content
    box-shadow 0 1px 30px 0 rgba(0, 0, 0, 0.19)
    display flex
    padding 20px

    .icon
      margin-right 10px

      svg
        height 42px
        width 53px

    .text
      color grey-700
      font-family family-helvetica
      font-size-medium()
      font-weight weight-regular
      line-height 18px
      margin 3px 20px 0 0
      max-width 180px
      text-shadow 0 1px 0 alpha(white, 0.5)


        &:hover
          color mp-blue

.upgrade-link
  color blue-900
  cursor pointer
  font-weight weight-bold
  text-decoration none
