- const proxyAttrs = {};
- ['closeable', 'open'].forEach(attr => proxyAttrs[attr] = $component.getAttribute(attr));
mp-modal(attrs=proxyAttrs)
  .mp-confirm-container
    .mp-confirm-body
      content
    .mp-confirm-buttons
      mp-button.mp-button-secondary(on={click: $helpers.cancel})
        = $component.getAttribute('cancel-button-label') || 'Cancel'
      mp-button.mp-button-primary(on={click: $helpers.confirm})
        = $component.getAttribute('confirm-button-label') || 'Ok'
