@import '../../stylesheets/defaults'

+host-styles(mp-confirm)
  width 400px

+prefix-classes('mp-confirm-')
  mp-modal
    width inherit

  .container, .container *
    box-sizing border-box

  .container
    display flex
    flex-direction column

    .body
      display flex
      flex-direction row
      min-height 92px
      padding 15px 30px 0 20px
      text-align left

    .buttons
      border-top 1px solid grey-200
      margin-top 15px
      padding 15px 20px 15px 0
      text-align right

      mp-button
        margin-left 15px
        min-width 90px

    +content-styles()
      .title
        color grey-900
        font-size-large()
        font-weight weight-bold
        line-height 1.4
        margin-bottom 10px

      .description
        font-paragraph()
