.mp-modal-stage(
  class={
    'mp-modal-absolute': $component.isAttributeEnabled('not-fullscreen'),
    'mp-modal-centered': $helpers.isCentered(),
    'mp-modal-closed': visibility === 'closed',
  }
  on={click: e => e.stopPropagation()}
)
  if $helpers.getType() === 'modal'
    .mp-modal-backdrop(
      class={[`mp-modal-${visibility}`]: true}
      on={click: $helpers.backdropClicked}
    )
  .mp-modal-wrapper
    .mp-modal-main(class={[`mp-modal-${visibility}`]: true})
      if $component.isAttributeEnabled('closeable')
        .mp-modal-close-btn(on={click: $helpers.closeClicked})
          .mp-modal-close-icon
            include ./close.svg
      content
