.mp-modal-stage(class={
  'mp-modal-absolute': $component.isAttributeEnabled('not-fullscreen'),
  'mp-modal-closed': visibility === 'closed',
})
  if $helpers.getType() === 'modal'
    .mp-modal-backdrop(onclick=$helpers.backdropClicked class=`mp-modal-${visibility}`)
  .mp-modal-wrapper
    .mp-modal-main(class=`mp-modal-${visibility}`)
      if $component.isAttributeEnabled('closeable')
        .mp-modal-close-btn(onclick=$helpers.closeClicked)
          .mp-modal-close-icon
            include ./close.svg
      content
