.mp-modal
  if $helpers.getType() === 'modal'
    .backdrop(onclick=$helpers.backdropClicked)
  .modal-container
    .modal(style=$helpers.getModalStyles())
      if $component.isAttributeEnabled('closeable')
        .close-btn(onclick=$helpers.closeClicked)
          .close-icon
            include ./close.svg
      .top-container(class="round-bottom")
        .content-row(class="dialog")
          .alert-icon
            include ./alert.svg
          content(select='[slot-body]')
