.mp-modal-stage(class={
  'mp-modal-alert': $component.isAttributeEnabled('alert'),
  'mp-modal-absolute': $component.isAttributeEnabled('not-fullscreen'),
  'mp-modal-closed': state === 'closed',
})
  if $helpers.getType() === 'modal'
    .mp-modal-backdrop(onclick=$helpers.backdropClicked class='mp-modal-#{state}')
  .mp-modal-wrapper
    .mp-modal-main(style=$helpers.getModalStyles() class='mp-modal-#{state}')
      if $component.isAttributeEnabled('closeable')
        .mp-modal-close-btn(onclick=$helpers.closeClicked)
          .mp-modal-close-icon
            include ./close.svg
      .mp-modal-top-container(class={'mp-modal-alert': $component.isAttributeEnabled('alert')})
        if $component.isAttributeEnabled('alert')
          .mp-modal-content-row
            .mp-modal-alert-icon
              include ./alert.svg
            content(select='[slot-body]')
        else
         content(select='[slot-body]')
      if !alertIcon
        .mp-modal-button-container
          content(select='[slot-button]')
