@import '../../../stylesheets/common'

@keyframes fadeOverlayIn
  from
    opacity 0
  to
    opacity 0.9

@keyframes fadeOverlayOut
  from
    opacity 0.9
  to
    opacity 0

@keyframes fadeModalIn
  from
    transform scale(1.1, 1.1)
    opacity 0
  to
    transform scale(1, 1)
    opacity 1

@keyframes fadeModalOut
  from
    transform scale(1, 1)
    opacity 1
  to
    transform scale(1.1, 1.1)
    opacity 0

.mp-modal, .alert-modal
  bottom 0
  box-sizing border-box
  left 0
  pointer-events none
  position fixed
  right 0
  top 0
  z-index 10

  &.absolute
    &, backdrop, .modal-container
      position absolute

  .backdrop
    animation fadeOverlayIn 500ms forwards
    background #45566d
    height 100%
    opacity 0.9
    position fixed
    pointer-events auto
    width 100%
    z-index 1

    &.closing
      animation-name fadeOverlayOut

  .modal-container
    display flex
    height 100%
    justify-content center
    align-items center
    pointer-events none
    position fixed
    width 100%
    z-index 2

    .modal
      animation fadeModalIn 500ms forwards 200ms
      border-radius 6px
      box-shadow 0 1px 3px 0 rgba(1, 1, 1, 0.28)
      max-width 530px
      opacity 0
      pointer-events auto
      position relative
      z-index 2

      &.closing
        animation-name fadeModalOut
        animation-delay 0ms
        animation-speed 200mx
        opacity 0

      .close-btn
        cursor pointer
        float right
        height 10px
        position absolute
        right 15px
        top 15px

        .close-icon svg
          width 10px
          .x
            fill grey-200

        &:hover
          .close-icon svg .x
            fill grey-300

  // keep these styles as general as possible to make them easier to override
  // i.e. don't indent them further
  .top-container
    background #fff
    border-radius 6px 6px 0 0
    padding 30px 60px
    text-align center
    &.round-bottom
      border-radius 6px

  content::content
    display block
    white-space normal
    .mp-modal-title
      font-title()

    .mp-modal-subtitle
      font-subtitle()
      margin 20px 0

    .alert-modal-title
      font-title()
      line-height 25.2px
      text-align left

    .alert-modal-subtitle
      font-subtitle()
      font-weight normal
      text-align left
      white-space pre-wrap

  .content-row
    white-space nowrap
    display flex
    align-items flex-start

    .alert-icon
      height 30px
      margin-top 10px
      margin-right 15px
      white-space normal
      width 33px

      svg 
        height 30px
        .fill
         fill mp-red
