.mp-modal(class={
  alert: $component.isAttributeEnabled('alert'),
  absolute: $component.isAttributeEnabled('not-fullscreen'),
  hidden: isHidden,
})
  if $helpers.getType() === 'modal'
    .backdrop(onclick=$helpers.backdropClicked)
  .modal-container
    .modal(style=$helpers.getModalStyles())
      if $component.isAttributeEnabled('closeable')
        .close-btn(onclick=$helpers.closeClicked)
          .close-icon
            include ./close.svg
      .top-container(class={'alert': $component.isAttributeEnabled('alert')})
        if $component.isAttributeEnabled('alert')
          .content-row
            .alert-icon
              include ./alert.svg
            content(select='[slot-body]')
        else
         content(select='[slot-body]')
      if !alertIcon
        .button-container
          content(select='[slot-button]')
