- const isSelected = $component.isAttributeEnabled(`is-selected`);
- const isSelectable = !isSelected || $component.isAttributeEnabled(`is-selected-selectable`);
div(
  class={
    'container': true,
    'active': $component.isAttributeEnabled(`is-active`),
    'selected': isSelected,
    'selectable': isSelectable,
    'uppercase': $component.getAttribute(`is-uppercase`),
  }
  on={click: !isSelectable ? e => e.stopPropagation() : null}
)
  if $component.hasAttribute(`icon`)
    - const icon = $component.getAttribute(`icon`);
    .icon
      svg-icon(attrs={icon, empty: !icon})

  .content
    - const labelParts = $component.getJSONAttribute(`label-parts`);
    - const label = $component.getAttribute(`label`);
    if labelParts
      .label(attrs={title: labelParts.join(``)})
        each labelPart, idx in labelParts
          span(class={
            'label-part': true,
            'is-match': idx % 2 === 0,
          })= labelPart
    else if label
      .label(attrs={title: label})= label
    else
      content

  - const secondaryAction = $component.getAttribute(`secondary-action`);
  div(
    class={
      'secondary-action': true,
      'caret': secondaryAction === `nav`,
      'pill': secondaryAction === `optional-nav`,
      'delete': secondaryAction === `delete`,
    }
    on={click: $helpers.handleClickSecondaryAction}
  )
    if secondaryAction === `nav`
      svg-icon(attrs={icon: `caret-right`})
    else if secondaryAction === `optional-nav`
      span= $component.getAttribute(`nav-label`)
      .pill-caret
        svg-icon(attrs={icon: `caret-right`})
    else if secondaryAction === `delete`
      svg-icon(attrs={icon: `trashcan`})
