@import '../../stylesheets/defaults'

+host-styles(mp-alert)
  width 300px

+prefix-classes('mp-alert-')
  mp-modal
    width inherit

  .container
    display flex
    flex-direction column
    margin-right 40px

    .body
      align-items center
      display inline-flex
      margin 10px 10px 12px

    .icon
      display inline-block
      svg-icon-style(red-300)

    .copy
      display inline-flex
      flex-wrap wrap
      margin-left 10px

.large-icon
  margin auto
  svg-icon-style(red-300, size: 40px)