@import '../../stylesheets/defaults'

+prefix-classes('mp-alert-')
  .container
    display flex
    flex-direction column
    margin-right 40px

   .body
     margin 12px 10px 8px 10px
     
   .icon
   	 display inline-block
   	 vertical-align middle
   	 svg-icon-style(red-300)
   	 
   .copy
   	 display inline-block
   	 margin-left 10px
 