- const proxyAttrs = {'modal-type': 'popup'};
- ['closeable', 'not-fullscreen', 'open'].forEach(attr => proxyAttrs[attr] = $component.getAttribute(attr));
mp-modal(attrs=proxyAttrs)
  .mp-alert-container
    .mp-alert-body
      .mp-alert-icon(class={'large-icon': $component.getAttribute('large-icon')})
        svg-icon(attrs={icon: 'alert'})
      .mp-alert-copy
        content
