.mp-tooltip-wrapper(
  class={
    'mp-tooltip-hidden': visibility === 'hidden',
    'mp-tooltip-transitioning': visibility === 'transitioning',
  }
  on={
    click: $helpers.stopPropagation,
    mousedown: $helpers.stopPropagation,
  }
)
  .mp-tooltip-main(
    class={[`mp-tooltip-placement-${placement}`]: true}
    style={
      'left': `${leftOffset}px`,
      'top': `${topOffset}px`,
    }
  )
    content
