.mp-input-group-container
    - const disabled = $component.isAttributeEnabled('disabled')
    - const busy = $component.isAttributeEnabled('busy');
    - const inputAttrs = {type: 'text', placeholder: $component.getAttribute('placeholder') || '', value}
    if disabled || busy
      - inputAttrs.disabled = true
    input.mp-input-group-input(
      attrs=inputAttrs
      on={
        input: $helpers.setValue,
        keyup: $helpers.submitIfEnter,
      }
    )
    mp-button.mp-button-primary.mp-input-group-btn(
      attrs={disabled: disabled || value.trim() === ''}
      on={click: $helpers.submit}
    )
      if $component.isAttributeEnabled('busy')
        .mp-input-group-spinner
          include ./spinner.svg
      else
        = $component.getAttribute('label') || 'Save'
