.section
  if sectionOpen == 'widgets'
    .section-title-container
      .section-title
        .title-text Widgets
        .title-section 6.1
  if sectionOpen == 'widgets' || searchSections.includes('bookmarks')
    .sub-section-container#bookmarks
      .divider
      .section-content
        section
          .subsection-title Bookmarks
          .subsection-description A drop menu that accomodates search, browse, removal, and creation of bookmarked reports.
          .indent-container
            .example-block.full-width
              .call-out.first-call-out
                strong.icon +
                strong mp-bookmarks-widget
              .bookmarks-widget
                mp-bookmarks-widget(
                  attrs={
                    'bookmarks': JSON.stringify(bookmarks),
                    'create-disabled': false,
                    'saving': savingBookmark,
                    'selected-bookmark-id': selectedBookmarkId,
                    'user-id': 1,
                    'has-write-permissions': true,
                    'open': sectionOpen != 'search',
                    'over-free-limit': currentBookmark == 'pricing' ? true : false,
                  }
                  on={
                    change: $helpers.handleBookmarksMenuChange,
                    submit: $helpers.handleBookmarksMenuSubmit,
                  }
                )
            .demo-divider
              a(on={click: () => $helpers.toggleBookmarkType('default')}) Default
              a(on={click: () => $helpers.toggleBookmarkType('pricing')}) Pricing restricted
            .code-snippet
              .call-out.first-call-out
                strong.icon +
                strong Example Code
              .snippet-container.min.max
                .snippet-header
                  label Jade
                .code-field
                  pre
                    | 1
                    br
                    | 2
                    br
                    | 3
                    br
                    | 4
                    br
                    | 5
                    br
                    | 6
                    br
                    | 7
                    br
                    | 8
                    br
                    | 9
                    br
                    | 10
                    br
                    | 11
                    br
                    | 12
                    br
                    | 13
                    br
                    | 14
                    br
                    | 15
                    br
                    | 16
                  pre
                    span.grey-500 //- Bookmarks Widget
                    br
                    span.mp-red mp-bookmarks-widget
                    span.mp-purple (
                    br
                    span.mp-purple   attrs={
                    br
                    |     'bookmarks': JSON.stringify(bookmarks),
                    br
                    |     'create-disabled': false,
                    br
                    |     'saving': savingBookmark,
                    br
                    |     'selected-bookmark-id': selectedBookmarkId,
                    br
                    |     'user-id': 1,
                    br
                    |     'has-write-permissions': true,
                    br
                    |     'open': true,
                    br
                    |     'over-free-limit': currentBookmark == 'pricing' ? true : false,
                    br
                    span.mp-purple   }
                    br
                    span.mp-red   on={
                    br
                    |     change: $helpers.handleBookmarksMenuChange,
                    br
                    |     submit: $helpers.handleBookmarksMenuSubmit,
                    br
                    span.mp-red   }
                    span.mp-purple )
  if sectionOpen == 'widgets' || searchSections.includes('tag-selector')
    .sub-section-container#tag-selector
      .divider#tag-selector
         label 6.2    
       .section-content
         section
           .subsection-title Tag Selector
           .subsection-description Add, remove, and create new tags for a given dashboard.
          .indent-container       
            .example-block.full-width#tag-selector
              .call-out.first-call-out
                strong.icon +
                strong mp-tag-selector
              .tag-selector-container
                mp-button.mp-button-secondary(on={click: $helpers.toggleTagSelector}) Edit tags
                mp-drop-menu(attrs={open: open.tagSelector} on={change: $helpers.handleTagSelectorDropMenuChange})
                  .title
                    .header
                      svg-icon(attrs={icon: "check-success"})
                      .header-text Added to company dashboard
                    .subtext Viewed report by type
                  mp-tag-selector(
                    attrs={
                      'selected-tags': JSON.stringify(tagSelectorData.selectedTags),
                      'all-tags': JSON.stringify(tagSelectorData.allTags),
                      'saving': tagSelectorData.saving,
                    }
                    on={
                      change: $helpers.handleTagSelectorChange,
                      save: $helpers.handleTagSelectorSave,
                    }
                  )
            .code-snippet
              .call-out.first-call-out
                strong.icon +
                strong Example Code
              .snippet-container.min.max
                .snippet-header
                  label Jade
                .code-field
                  pre
                    | 1
                    br
                    | 2
                    br
                    | 3
                    br
                    | 4
                    br
                    | 5
                    br
                    | 6
                    br
                    | 7
                    br
                    | 8
                    br
                    | 9
                    br
                    | 10
                    br
                    | 11
                    br
                    | 12
                    br
                    | 13
                    br
                    | 14
                    br
                    | 15
                  pre
                    span.grey-500 //- Tag Selector
                    br
                    span.mp-red .tag-selector-container
                    br
                    |   mp-buton.mp-button-secondary
                    span.mp-red (on={click: $helpers.toggleTagSelector})
                    |  Edit tags
                    br
                    |     mp-drop-menu
                    span.mp-purple (attrs={open: open.tagSelector} on={change: $helpers.handleTagSelectorDropMenuChange})
                    br
                    span.mp-red       mp-tag-selector(
                    br
                    span.mp-purple         attrs={
                    br
                    |           'selected-tags': JSON.stringify(tagSelectorData.selectedTags),
                    br
                    |           'all-tags': JSON.stringify(tagSelectorData.allTags),
                    br
                    |           'saving': tagSelectorData.saving,
                    br
                    span.mp-purple         }
                    br
                    span.mp-purple         on={
                    br
                    |           change: $helpers.handleTagSelectorChange,
                    br
                    |           save: $helpers.handleTagSelectorSave,
                    br
                    span.mp-purple         }
                    br
                    span.mp-red       )
  if sectionOpen == 'widgets' || searchSections.includes('calendar-widget')
    .sub-section-container#calendar-widget
      .divider
      .section-content
        section
        .subsection-title Calendar Widgets
        .subsection-description For choosing dates and date ranges. Usually embedded in drop menus, card elements, and modals.
        .indent-container
          .example-block
            .call-out.first-call-out
              strong.icon +
              strong mp-calendar 
              p double calendar
            .example-card
              .calendar-container
               mp-calendar(
                 attrs={
                   'is-double-calendar': true,
                   'is-range': true,
                   'min-date': `2015-12-10`,
                   'max-date': `2016-03-20`,
                   'selected-from-date': `2015-12-25`,
                   'selected-to-date': `2016-03-15`,
                 }
               )
          .example-block
            .call-out
              strong mp-calendar 
              p single calendar
            .example-card
              .calendar-container
                mp-calendar(
                  attrs={
                    'min-date': `2015-06-10`,
                    'max-date': `2016-01-20`,
                    'selected-date': `2016-01-15`,
                  }
                )
          .code-snippet
            .call-out.first-call-out
              strong.icon +
              strong Example Code
            .snippet-container.min.max
              .snippet-header
                label Jade
              .code-field
                pre
                  | 1
                  br
                  | 2
                  br
                  | 3
                  br
                  | 4
                  br
                  | 5
                  br
                  | 6
                  br
                  | 7
                  br
                  | 8
                  br
                  | 9
                  br
                  | 10
                  br
                  | 11
                  br
                  | 12
                pre
                  span.grey-500 //- Calendar Widget
                  br
                  span.mp-red .calendar-container
                  br
                  span.mp-red   mp-calendar(
                  br
                  span.mp-purple     attrs={
                  br
                  |       'is-double-calendar': true,
                  br
                  |       'is-range': true,
                  br
                  |       'min-date': `2015-12-10`,
                  br
                  |       'max-date': `2016-03-20`,
                  br
                  |       'selected-from-date': `2015-12-25`,
                  br
                  |       'selected-to-date': `2016-03-15`,
                  br
                  span.mp-purple     }
                  br
                  span.mp-red   )
  if sectionOpen == 'widgets' || searchSections.includes('items-menu')
    .sub-section-container#calendar-widget
      .divider
      .section-content
        section
        .subsection-title Items Menu
        .subsection-description A drop menu that lists events for query builders.
        .indent-container
          .example-block
            .call-out.first-call-out
              strong.icon +
              strong itemsMenu
            //- TODO: Add to search & Add to left Nav sub item
            //- .items-menu
            //-   .mp-input(
            //-     attrs={placeholder: `Click to open menu`}
            //-     on={
            //-       click: ev => ev.stopPropagation(),
            //-       focus: $helpers.handleItemsMenuFocus,
            //-       blur: $helpers.handleItemsMenuBlur,
            //-       input: $helpers.handleItemsMenuInput,
            //-       keydown: $helpers.handleItemsMenuKeydown,
            //-     }
            //-   )
            //-   .drop-menu-container
            //-     mp-drop-menu(
            //-       attrs={open: open.itemsMenu}
            //-       on={change: e => $helpers.handleModalChange('itemMenu', e.detail.state)}
            //-     )
            //-       mp-items-menu(
            //-         attrs={
            //-           'search-filter': itemsMenuSearchFilter,
            //-           'sections': JSON.stringify($helpers.getItemsMenuSections()),
            //-         },
            //-       )
          .code-snippet
            .call-out.first-call-out
              strong.icon +
              strong Example Code
            .snippet-container.min.max
              .snippet-header
                label Jade
              .code-field
                pre
                  | 1
                pre
                  span.grey-500 //- Items Menu