.mp-toggle(class=$helpers.extendComponentClasses())
  for toggleOption in $helpers.toggleOptions()
    .mp-toggle-option(
      class={'mp-toggle-selected': toggleOption.value === $component.value}
      on={click: () => $helpers.selectOption(toggleOption.value)}
    )= toggleOption.text
