.mp-toggle(class={
  'toggle-blue': $component.isAttributeEnabled(`blue`),
  'toggle-large': $component.isAttributeEnabled(`large`),
  'toggle-small': $component.isAttributeEnabled(`small`),
  'toggle-square': $component.isAttributeEnabled(`square`),
  'theme-lite': $component.getAttribute('theme') === 'lite',
})
  for toggleOption in $helpers.toggleOptions()
    .mp-toggle-option(
      class={'mp-toggle-selected': toggleOption.value === $component.value}
      on={click: () => $helpers.selectOption(toggleOption.value)}
    )= toggleOption.text
