@import '../mixins/common.styl'
@import 'svg-icon.styl'

*
  -webkit-font-smoothing: antialiased;

*:focus
  outline 0

*::-ms-clear
  height 0
  width 0

body
  color grey-700
  font-family family-helvetica
  font-weight weight-regular
  font-size-default()
  font-stretch normal

a, .mp-link
  cursor pointer
  text-decoration none

  &, &:visited
    color blue-500

  &:hover
    color blue-300

+prefix-classes('mp-font-')
  .size-xl
    font-size-xl()

  .size-large
    font-size-large()

  .size-medium
    font-size-medium()

  .size-default
    font-size-default()

  .size-xs
    font-size-xs()

  .weight-bold
    font-weight weight-bold

  .weight-medium
    font-weight weight-medium

  .weight-regular
    font-weight weight-regular

  .paragraph
    font-paragraph()

/* FORMS */
input[type=text], textarea
  border 1px solid grey-200
  border-radius 5px
  box-sizing border-box
  color grey-900
  display inline-block
  font-size-default()
  font-weight weight-regular
  padding 8px
  transition border-color 150ms ease-out

  &::placeholder
    color grey-500 !important
    font-weight weight-normal !important

  &:focus
    border-color blue-700
    transition border-color 200ms ease-in

input[type=text]
  height 36px
