json('colors.json')

placeholder(color, weight)
  &::-webkit-input-placeholder
    color color !important
    weight weight !important
  &::-moz-placeholder
    color color !important
    weight weight !important
  &:-ms-input-placeholder
    color color !important
    weight weight !important

input[type=text], textarea
    border 1px solid grey-200
    border-radius 4px
    color grey-700
    display inline-block
    font-size 13px
    font-weight 500
    placeholder(grey-500, 400)
    transition border-color 150ms ease-out

    &:focus
      border-color blue-700
      transition border-color 250ms ease-in

*:focus
  outline 0

*::-ms-clear
  height 0
  width 0
