svg-icon-style(base-color, hover-color, speed=0.2s, size=22px, pos-left=0, pos-top=0)
  svg-icon svg
    color base-color
    fill base-color
    height size
    left pos-left
    top pos-top
    transition speed
    width size
  &:hover
    svg-icon svg
      color hover-color
      fill hover-color
