svg-icon-style(base-color=null, hover-color=null, speed=0.2s, size=22px, pos-left=0, pos-top=0)
  svg-icon
    svg
      height size
      width size
      if pos-left
        left pos-left
      if pos-top
        top pos-top
    if base-color != null
      svg, path
        color base-color
        fill base-color
        transition speed
  if hover-color != null
    &:hover
      svg-icon
        svg, path
          color hover-color
          fill hover-color
