svg-icon-style(base-color, hover-color, speed=0.2s, size=22px, pos-left=0, pos-top=0)
  svg-icon
    svg
      height size
      left pos-left
      top pos-top
      width size
    svg, path
      color base-color
      fill base-color
      transition speed
  &:hover
    svg-icon
      svg, path
        color hover-color
        fill hover-color
