.mp-tooltip
  background-color: #3d4e67
  background-image linear-gradient(#3f516b, #394a62)
  border 1px solid #2f3f57
  border-radius 3px
  box-shadow inset 0 1px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.2)
  color #fff
  font-weight 400
  pointer-events none
  padding 5px 8px
  position absolute
  text-transform initial
  &.hidden
    display none
  .arrow
    border 7px solid transparent
    border-top 8px solid #394a62
    bottom -14px
    content ''
    height 0
    left 10px
    pointer-events none
    position absolute
    width 0
