json('../../../stylesheets/colors.json')
@import '../../../stylesheets/typography'

+prefix-classes('mp-tooltip-')
  .wrapper
    &.hidden
      pointer-events none
      .main
        display none

    .main
      align-items center
      background-color: grey-900
      border-radius 3px
      box-shadow 0px 2px 4px 0px (rgba(0,0,0,0.16))
      color #fff
      cursor default
      display flex
      font-family family-helvetica
      font-size-default()
      font-weight bold
      line-height 9px
      justify-content center
      padding 12px 15px
      pointer-events auto
      position absolute
      text-transform initial
      &::after
        border 5px solid transparent
        border-top-color grey-900
        content ""
        height 0
        left 50%
        margin-left: -5px
        position absolute
        top 100%
        width 0
