include ../mixins.jade

.section
  .section-title
    .title-text Typography
    .title-section 2.1
  .section-nav
    +section-nav-item('Show All')
    +section-nav-item('Buttons')
    +section-nav-item('Headers')
    +section-nav-item('Copy')
    +section-nav-item('Fields')
    +section-nav-item('Labels')
  .section-content
    section.font-weight
      .subsection-title Type Family & Weight
      .subsection-description You can use the appropriate markup (e.g. <label>) to specify which of the three weights to use. Each weight has a specific function in the MP type heirarchy.
      .font-weight-examples
        .bold-example.mp-font-weight-bold
          .indent-container
            .example-container
              .left-example
                .font-header.mp-font-size-medium.mp-font-weight-regular Helvetica Neue
                .large-example Aa
              .text-example.mp-font-size-xl Mixpanel data-viz backflows juicy Q4 graphs
              .right-example-container.mp-font-size-medium
                .right-example
                  .weight.mp-font-weight-bold Bold
                  .weight-value.mp-font-size-medium.mp-font-weight-regular Weight: 600
            .code-container
              .code-snippet
                .snippet-container.min.max
                  .snippet-header.mp-font-weight-regular
                    label CSS:    <h1>,  <h2>,  <button>,  <label>,  <b>
                  .code-field
                    pre
                      | 1
                      b     #[span font-family:]  family-helvetica
                      br
                      | 2
                      b     #[span font-weight:]  weight-bold
        .medium-example.mp-font-weight-medium
          .indent-container
            .example-container
              .left-example
                .font-header.mp-font-size-medium.mp-font-weight-regular Helvetica Neue
                .large-example Aa
              .text-example.mp-font-size-xl Mixpanel data-viz backflows juicy Q4 graphs
              .right-example-container.mp-font-size-medium
                .right-example
                  .weight.mp-font-weight-bold Medium
                  .weight-value.mp-font-size-medium.mp-font-weight-regular Weight: 500
            .code-container
              .code-snippet
                .snippet-container.min.max
                  .snippet-header.mp-font-weight-regular
                    label CSS:    <h1>,  <h2>,  <button>,  <label>,  <b>
                  .code-field
                    pre
                      | 1
                      b     #[span font-family:]  family-helvetica
                      br
                      | 2
                      b     #[span font-weight:]  weight-medium
        .regular-example.mp-font-weight-regular
          .indent-container
            .example-container
              .left-example
                .font-header.mp-font-size-medium.mp-font-weight-regular Helvetica Neue
                .large-example Aa
              .text-example.mp-font-size-xl Mixpanel data-viz backflows juicy Q4 graphs
              .right-example-container.mp-font-size-medium
                .right-example
                  .weight.mp-font-weight-bold Regular
                  .weight-value.mp-font-size-medium.mp-font-weight-regular Weight: 400
            .code-container
              .code-snippet
                .snippet-container.min.max
                  .snippet-header.mp-font-weight-regular
                    label CSS:    <h1>,  <h2>,  <button>,  <label>,  <b>
                  .code-field
                    pre
                      | 1
                      b     #[span font-family:]  family-helvetica
                      br
                      | 2
                      b     #[span font-weight:]  weight-regular
    section.type-sizes
      .divider 
        label 1.2
      .subsection-title Type Sizes
      .subsection-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id massa et libero condimentum dignissim at ut odio. Aliquam placerat libero metus, et fringilla nisl dictum vitae. Sed at lacus eu risus fermentum consequat.
      .indent-container
        .size-examples
          .size-example
            .left-example
              .text-example.mp-font-size-xl Mixpanel bestows major data-viz insights f'n quickly.
              .size-type.mp-font-size-medium 18px - Extra Large
            .right-example
              .size-class.mp-font-size-xl .mp-font-size-xl
          .size-example
            .left-example
              .text-example.mp-font-size-large Mixpanel bestows major data-viz insights f'n quickly.
              .size-type.mp-font-size-medium 16px - Large
            .right-example
              .size-class.mp-font-size-large .mp-font-size-large
          .size-example
            .left-example
              .text-example.mp-font-size-medium Mixpanel bestows major data-viz insights f'n quickly.
              .size-type.mp-font-size-medium 14px - Medium
            .right-example
              .size-class.mp-font-size-medium .mp-font-size-medium
          .size-example
            .left-example
              .text-example.mp-font-size-default Mixpanel bestows major data-viz insights f'n quickly.
              .size-type.mp-font-size-medium 12px - Default
            .right-example
              .size-class.mp-font-size-default .mp-font-size-default
          .size-example
            .left-example
              .text-example.mp-font-size-xs Mixpanel bestows major data-viz insights f'n quickly.
              .size-type.mp-font-size-medium 11px - Extra small
            .right-example
              .size-class.mp-font-size-xs .MP-FONT-SIZE-XS
      .code-snippet
        .call-out
          strong.icon +
          strong Example Code
        .snippet-container.min.max
          .snippet-header
            label Stylus
          .code-field
            pre
              | 1    /* Color Declarations */
              br
              | 2
              br
              | 3
              b     mp-red   =
              span  #E4567B
              br
              | 4
              b     mp-blue  =
              span  #4BA8FF
              br
              | 5
              b     blue-900 =
              span  #2687E3
              br
              | 6
              b     blue-700 =
              span  #3391E9