@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

.example
  font-family family-helvetica

.example-container
  display flex
  flex-direction row
  justify-content space-around
  width 900px

  .large-example
    font-size 84px
    width 110px
  
  .text-example
    left -75px
    position relative
    top 55px
    width 400px

  .right-example-container
    border-left 1px solid #D8E0E6
    position relative

    .right-example
      padding 10px 0px 0px 22px
      
      .weight
        padding-bottom 3px

.code-container
  position relative
  left 50px

  .code-snippet
    width 900px
    padding-bottom 65px

.size-examples
  position relative
  left 60px

  .size-example
    display flex
    flex-direction row
    justify-content space-between
    border-bottom 1px dashed #D8E0E6
    padding-bottom 20px
    margin-bottom 30px
    width 835px
    
    .text-example
      padding-bottom 10px
