@import '../../../../build/stylesheets/mixins/common.styl'

.example
  font-family family-helvetica

.example-container
  display flex
  flex-direction row
  justify-content space-between
  width 830px

  .large-example
    font-size 84px
    width 110px
  
  .text-example
    left -75px
    position relative
    top 55px
    width 400px

  .right-example-container
    border-left 1px solid grey-200
    position relative

    .right-example
      padding 10px 0px 0px 22px
      
      .weight
        padding-bottom 3px

.code-container
  position relative

  .code-snippet
    width 900px

.size-examples
  position relative
  margin-top 60px

  .size-example
    display flex
    flex-direction row
    justify-content space-between
    border-bottom 1px dashed grey-200
    padding-bottom 30px
    margin-bottom 30px
    width 835px
    
    .text-example
      padding-bottom 10px
    
    &:hover
      .size-class
        color mp-blue
      
  .size-class
    transform scale(1.5)
    color grey-200
    text-align  right
    font-weight weight-bold
    margin 6px 40px 0 0
      
.mp-font-size-xl
  font-size-xl()
  
.mp-font-size-large
  font-size-large()

.mp-font-size-medium
  font-size-medium()

.mp-font-size-default
  font-size-default()
  
.mp-font-size-xs
  font-size-xs()
  
.mp-font-weight-bold
  font-weight weight-bold

.mp-font-weight-medium
  font-weight weight-medium

.mp-font-weight-regular
  font-weight: weight-regular
