- const proxyAttrs = {};
- ['closeable', 'open'].forEach(attr => proxyAttrs[attr] = $component.getAttribute(attr));
mp-modal(attrs=proxyAttrs)
  .mp-confirm-delete-container
    .mp-confirm-delete-body
      .mp-confirm-delete-icon
        svg-icon(attrs={icon: 'alert'})
      .mp-confirm-delete-copy
        content
    .mp-confirm-delete-buttons
      mp-button.mp-button-secondary(on={click: $helpers.cancel})
        = $component.getAttribute('cancel-button-label') || 'Cancel'
      mp-button.mp-button-red(on={click: $helpers.confirm})
        = $component.getAttribute('delete-button-label') || 'Delete'
