//@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

.button-types
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  
.common-example
  padding 15px
  margin 15px 0 0 0

  :last-child
    margin-right 0px

  mp-button
    margin-right 15px  
  
  .drop-menu-container
    left -20px
    position relative
    top 7px

    .text-container
      width 150px

.example-card
  mp-button-bar
    margin-bottom -1px

mp-toggle
  &.inline-toggle
    min-width 350px
  &.max-width-toggle
    min-width 600px
  &.full-width-toggle
    min-width 100%

.example-block
  &.full-width
    width 100%
