//@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

.button-types
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
  
.common-example
  padding 15px
  margin 15px 0 0 0
  
	*
		margin-right 15px
	:last-child
		margin-right: 0px