include ../mixins.jade

.section
  .section-title
    .title-text Buttons
    .title-section 4.1
  .section-nav
    +section-nav-item('Show All')
    +section-nav-item('Basics')
    +section-nav-item('Bars')
    +section-nav-item('Dropdowns')
    +section-nav-item('Toggles')
    +section-nav-item('Misc')
  .section-content
    section.basic-buttons
      .subsection-title Basic MP-Buttons
      .subsection-description These pill shape buttons are used when there is a focused action. The confirmation intent should always be placed on the right of the cancellation button, when present. Respective containers included for visual reference.
      .button-types
        .button-type-1
          .button-title
            .plus-icon
            .button-title-text Type 01: Text Only
        .button-type-2
        .button-type-caution
      .button-disabled
      .button-misuse
