@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

.button-types
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content flex-start
