@import '../../../stylesheets/common'
@import '../../../stylesheets/defaults'

+host-styles(mp-toggle)
  display inline-block

.mp-toggle
  background-color grey-100
  border-radius 50px
  display flex
  padding 2px

  .mp-toggle-option
    align-items center
    background-color grey-100
    border-radius 50px
    color grey-700
    display flex
    flex-grow 1
    font-size 11px
    font-weight bold
    height 40px
    justify-content center
    text-align center
    text-transform uppercase
    transition background-color 0.2s
    &.mp-toggle-selected
      background-color #fff
    &:not(.mp-toggle-selected)
      cursor pointer
      &:hover
        color blue-300

  &.mp-toggle-blue
    background-color blue-700
    .mp-toggle-option
      background-color blue-700
      color lighten(blue-100, 50%)
      &.mp-toggle-selected
        background-color blue-100
        color #fff
      &:not(.mp-toggle-selected):hover
        color #fff
