@import '../../common'

.mp-modal
  border-radius 6px
  box-shadow 0 1px 3px 0 rgba(1, 1, 1, 0.28)
  max-width 530px
  .top-container
    padding 30px 60px
    text-align center
    .mp-modal-title
      font-title()
    .mp-modal-subtitle
      font-subtitle()
      margin 20px 0
