@import '../../stylesheets/defaults'

@keyframes fadeOverlayIn
  from
    opacity 0
    transform translateY(-10px)
  to
    opacity 0.9

@keyframes fadeOverlayOut
  from
    opacity 0.9
  to
    opacity 0
    transform translateY(-10px)

+host-styles(mp-drop-menu)
  display flex
  left 0
  margin-bottom 30px
  position absolute
  top 0
  z-index 100

+prefix-classes('mp-drop-menu-')
  .body, .body *
    box-sizing border-box

  .body
    background-color white
    border-radius 5px
    mp-box-shadow()

  &.closed
    display none

  &.opening
    animation fadeOverlayIn 200ms forwards
    opacity 0

  &.open
    opacity 1

  &.closing
    animation fadeOverlayOut 200ms forwards
