@import '../../stylesheets/defaults/index.styl'

@keyframes fadeOverlayIn
  from
    transform translateY(-10px)
    opacity 0
  to
    opacity 0.9

@keyframes fadeOverlayOut
  from
    opacity 0.9
  to
    transform translateY(-10px)
    opacity 0

+host-styles(mp-drop-menu)
  left 0
  position absolute
  top 0
  z-index 100

+prefix-classes('mp-drop-menu-')
  .body
    background-color white
    border-radius 5px
    box-shadow 0 10px 40px rgba(0, 0, 0, 0.15)

  &.closed
    display none

  &.opening
    animation fadeOverlayIn 200ms forwards
    opacity 0

  &.open
    opacity 1

  &.closing
    animation fadeOverlayOut 200ms forwards
