.mp-tutorial-tooltip-wrapper(class={[`placement-${placement}`]: placement})
  .mp-tooltip-content
    content
  if !$component.isAttributeEnabled('hide-footer')
    .mp-tooltip-footer
      ul.steps
        each step in $helpers.getSteps()
          li.step(class={active: step === currStep})
  .arrow(class={ [`arrow-align-${arrowAlign}`]: arrowAlign})
