.mp-tag
  if $component.getAttribute('icon')
    .extra-icon
      svg-icon(attrs={icon: $component.getAttribute('icon')})
  .tag-name= $component.getAttribute('tag-name')
  .remove-tag(on={click: $helpers.remove})
    .remove-icon
      svg-icon(attrs={icon: 'x'})
