.mp-tag(
  class={
    clickable: $component.isAttributeEnabled('clickable'),
    removable: $component.isAttributeEnabled('removable'),
    [`${sizeClass}`]: true,
  })
  if $component.getAttribute('icon')
    .extra-icon
      svg-icon(attrs={icon: $component.getAttribute('icon')})
  .tag-name= $helpers.toSentenceCase($component.getAttribute('tag-name'))
  if $component.isAttributeEnabled('removable')
    .remove-tag(on={click: $helpers.remove})
      .remove-icon
        svg-icon(attrs={icon: 'x'})
