.mp-tag
  if $component.getAttribute('icon')
    .extra-icon
      svg-icon(attributes={icon: $component.getAttribute('icon')})
  .tag-name= $component.getAttribute('tag-name')
  if $component.isAttributeEnabled('removable')
    .remove-tag(onclick=$helpers.remove)
      .remove-icon
        svg-icon(attributes={icon: 'x'})
