@import '../../stylesheets/defaults'

.mp-tag
  background-color grey-700
  border-radius 13px
  color white
  display inline-flex
  font-family family-helvetica
  font-size-default()
  font-weight weight-bold
  height 10px
  line-height 0.8
  padding 8px 15px 8px 15px

  &.clickable:hover
    background-color grey-500
    cursor pointer

  &.removable
    padding-right 10px

  .extra-icon
    left -4px
    position relative
    top -2px

    svg-icon-style(white, size: 14px)

  .remove-tag
    border-radius 20px
    cursor pointer
    height 16px
    left 3px
    position relative
    top -4px
    width 16px

    .remove-icon
      position relative
      top 1px

      svg-icon-style(grey-300, white, size: 16px)
