@import '../../../../build/stylesheets/defaults/index.css'
@import '../../../../build/stylesheets/mixins/common.styl'

.common-example
  mp-toast
    margin 10px 10px 0 10px !important

.example-block	
  > p.desc
    margin 25px 0 35px 0
    padding 0
    font-size-xl()  //- this line isn't working. Added class to markup instead.

.spinner-zoom
  width 75px
  height 75px
  mp-spinner
    margin 0 0 0 25px
    transform scale(3.0)

.mp-icon-input
  icon-input()

mp-tooltip.multiline span
  max-width 200px

.tutorial-tooltips-container
  position relative
  display flex
  flex-direction row
  flex-wrap wrap
  min-height 800px
  min-width 500px

  .tutorial-tooltip-container
    position relative
    width 450px
    height 200px
    display flex
    flex-direction column
    justify-content center
    align-items center
    
    .tutorial-tooltip-focus
      position relative