.style-guide
  = $component.child('nav-bar')
  .style-guide-title
    .title-text Mixpanel Design
  .section-container
    case sectionOpen
      when 'colors'
        = $component.child('color-section')
      when 'typography'
        = $component.child('typography-section')
      when 'iconography'
        = $component.child('iconography-section')
      when 'buttons'
        = $component.child('buttons-section')
      when 'contextual'
        = $component.child('contextual-section')
      when 'resources'
        = $component.child('resources-section')
