@import '../../build/stylesheets/defaults/index.css'
@import '../../build/stylesheets/mixins/common.styl'

sup, h1, strong, button, .bold
  font-family family-helvetica
  font-weight weight-bold

.style-guide-title
  color #4C6072
  display flex
  flex-direction row
  font-family family-helvetica
  font-size 24px
  justify-content center
  left 150px
  position relative
  position relative
  top 100px
  width calc(100% - 150px)

.section-container
  display flex
  left 345px
  position relative
  top 185px
  width calc(100% - 350px)
  
.section-title
  display inline-flex
  font-weight weight-bold
  padding 0px 0px 15px 0px
  width 100%

  .title-text
    color #4C6072
    font-size 64px
  
  .title-section
    color #C1CCD5
    font-size 24px
    height 60px
    padding-left 10px
    position relative
    top 16px

@keyframes fadeContentIn
  from
    transform translateY(30px)
    opacity 0
  to
    opacity 0.9

section
  margin-bottom 50px
  padding-bottom 50px
  border-bottom 1px solid grey-100

.section
  position relative
  width 70vw
  animation fadeContentIn 500ms forwards

.section-nav
  border-top 1px solid #D8E0E6
  display flex
  flex-direction row
  list-style-type none
  overflow-x scroll
  padding 0 0 30px 0
  position relative
  white-space nowrap
  width 100%

  .nav-item
    color #4C6072
    cursor pointer
    font-family family-helvetica
    font-size 16px
    font-weight weight-medium
    margin 30px 30px 0 0
    padding 10px 30px

    &:hover
      color #4BA8FF

    &.selected
      background-color: #4BA8FF;
      border-radius: 30px;
      color: #FFFFFF;
