.style-guide
  = $component.child('nav-bar')
  .style-guide-title
    .logo
  .version-bar
    .version-label
      label Mixpanel Design
      .decoration
      strong Chrome 2.0

  .section-container
    case sectionOpen
      when 'colors'
        = $component.child('color-section')
      when 'typography'
        = $component.child('typography-section')
      when 'iconography'
        = $component.child('iconography-section')
      when 'buttons'
        = $component.child('buttons-section')
      when 'components'
        = $component.child('components-section')
      when 'widgets'
        = $component.child('widgets-section')
      when 'search'
        = $component.child('search-section')
