@import '../../build/stylesheets/defaults/index.css'
@import '../../build/stylesheets/mixins/common.styl'

.section
  margin-bottom 10px
  padding-bottom 10px
  border-bottom 1px solid grey-100

  .item-palette
    display flex
    flex-flow column wrap
    &.color-palette
      height 180px
    &.icon-palette
      height 320px

  .list-block
    align-items center
    display flex
    margin 5px
    svg-icon-style(grey-900, blue-100)

    .square
      display inline-block
      vertical-align middle
      margin-right 4px
      width 20px
      height 20px

    .label
      display inline-block
      font-list-item()
      margin-left 10px
      vertical-align middle

  &.buttons
    mp-button
      margin-right 4px
      vertical-align middle

    p.button-field
      background mp-blue
      display table
      padding 10px

  &.toggles
    mp-toggle
      margin-bottom 10px
      &.inline-toggle
        width 300px
      &.full-width-toggle
        display block

    .toggle-val
      margin-left 10px

/// START STYLE GUIDE CHROME AND DESIGN STYLES

body
  background-color #FCFCFC
  font-stretch normal
  -webkit-font-smoothing antialiased
  margin 0 75px 0 15px
  padding 0

a
  color mp-blue
  padding-bottom 3px
  text-decoration none
  &:hover
    color blue-700

label, p, h5, .link
  font-family "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  font-weight 400

li, h3, .med, .title
  font-family "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  font-weight 500

sup, h1, strong, button, .bold
  font-family "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  font-weight 600

@-webkit-keyframes fadeIn {
  from {-webkit-transform: scale(1.1, 1.1); opacity: 0;}
  to {-webkit-transform: scale(1, 1); opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from {-webkit-transform: scale(1, 1); opacity: 1;}
  to {-webkit-transform: scale(1.1, 1.1); opacity: 0;}
}

// Blues
.blue-900
  background-color blue-900

.blue-700
  background-color blue-700

.blue-500
  background-color blue-500

.mp-blue
  background-color mp-blue

.blue-100
  background-color blue-100

// Greys
.grey-900
  background-color grey-900

.grey-700
  background-color grey-700

.grey-500
  background-color grey-500

.grey-300
  background-color grey-300

.grey-200
  background-color grey-200

.grey-150
  background-color grey-150

.grey-100
  background-color grey-100

.grey-50
  background-color grey-50

.white
  background-color white

// Greens
.green-700
  background-color green-700

.mp-green
  background-color mp-green

.green-300
  background-color green-300

.green-200
  background-color green-200

.green-100
  background-color green-100

// Reds
.red-700
  background-color red-700

.mp-red
  background-color mp-red

.red-300
  background-color red-300

.red-200
  background-color red-200

.red-100
  background-color red-100

// Oranges
.orange-700
  background-color orange-700

.mp-orange
  background-color mp-orange

.orange-300
  background-color orange-300

.orange-200
  background-color orange-200

.orange-100
  background-color orange-100

// Purples
.purple-700
  background-color purple-700

.mp-purple
  background-color mp-purple

.purple-300
  background-color purple-300

.purple-200
  background-color purple-200

.purple-100
  background-color purple-100

// Yellows
.yellow-700
  background-color yellow-700

.mp-yellow
  background-color mp-yellow

.yellow-300
  background-color yellow-300

.yellow-200
  background-color yellow-200

.yellow-100
  background-color yellow-100

// Misc
.mp-seafoam
  background-color mp-seafoam

.mp-aquamarine
  background-color mp-aquamarine

.mp-ultramarine
  background-color mp-ultramarine

.mp-midnight
  background-color mp-midnight

.mp-navy
  background-color mp-navy

.mp-turquoise
  background-color mp-turquoise

.mp-ultramarine
  background-color mp-ultramarine

.extra-large
  font-size 18px

.large
  font-size 16px

.medium
  font-size 14px

.default
  font-size 12px

.extra-small
  font-size 11px
  text-transform uppercase

.s36
  font-size 36px

.s32
  font-size 32px

.s28
  font-size 28px

.s24
  font-size 24px

.s22
  font-size 22px

.background
  border-left 1px solid grey-200
  border-right 1px solid grey-200
  position fixed
  top 0
  right 0
  bottom 0
  left 15px
  z-index 0

.min
  min-width 640px

.max
  max-width 850px
  width 100%

.version-bar
  background-color white
  border-left 1px solid grey-200
  position fixed
  top 0
  right 0
  bottom 0
  width 75px
  z-index 1000

.version-label
  color grey-900
  font-size 16px
  height 75px
  position fixed
  top 145px
  right -70px
  transform rotate(90deg)
  transform rotate(90deg)
  -moz-transform rotate(90deg)
  -o-transform rotate(90deg)
  -ms-transform rotate(90deg)

.version-label p, .version-label div
  display inline-block

.version
  color mp-blue

#header
  height 200px
  position relative
  top 60px
  width 100%
  z-index 100

.logo
  background url(../../assets/images/mp-logo.svg) no-repeat top center
  background-size contain
  height 90px
  margin 0 auto
  width 230px

.container
  box-sizing border-box
  margin-top 45px
  padding 0 0 75px 45px
  position absolute
  right 60px
  width calc(80% - 60px)
  max-width calc(100% - 360px)
  min-width calc(100% - 460px)

.container-animation
  opacity 0
  transform translateY(30px)
  transition all 400ms ease
  &.loaded
    opacity 1
    transform translateY(0)

.section-header
  color grey-900
  border-bottom 1px solid grey-200
  padding 0
  margin-right 90px
  min-width 860px
  h1
    display inline-block
    font-size 64px
    line-height 45px
    margin 0 0 30px 0
    padding 0

.section-nav
  list-style-type none
  padding 0 0 30px 0
  overflow-x scroll
  white-space nowrap
  li
    color grey-900
    cursor pointer
    display inline-block
    font-size 16px
    margin 30px 30px 0 0
    padding 10px 30px
    &.selected
      background-color mp-blue
      border-radius 30px
      -moz-border-radius 30px
      -webkit-border-radius 30px
      color white
      &:hover
        color white
    &:hover
      color mp-blue

.section-number
  color grey-300
  display inline-block
  font-size 24px
  height 60px
  padding-left 10px
  position absolute

.divider
  border-top 1px solid grey-200
  margin 60px 30px 45px 0
  position relative
  width 90%
  sup
    color grey-300
    right -30px
    position absolute
    top -10px

.content
  color grey-700
  margin-top 30px

.title
  color grey-900
  display block
  font-size 24px

.desc
  font-size 16px
  line-height 24px
  margin-bottom 45px

#nav-strip
  background-color white
  border-right 1px solid grey-200
  position fixed
  top 0
  bottom 0
  left 0
  width 15px
  z-index 0

#nav
  box-sizing border-box
  height 100%
  list-style-type none
  margin 0
  overflow-y scroll
  padding 180px 0 60px 0
  position fixed
  left 0
  top 0
  width 20%
  min-width 300px
  max-width 400px
  z-index 900
  .nav-children
    display none
    list-style-type none
    margin 0 0 0 -60px
    padding 12px 0 0
    li
      border-left 15px solid #89C6FF
      color grey-700
      padding-left 45px
      cursor pointer
      &:hover .child
        & + .selected
          &:not(.visible)
            background-color inherit
            display block
      .child
        display block
        font-size 16px
        padding 6px 0 6px 23px
        cursor pointer
        &:last-child
          border-bottom 1px solid grey-200
    .selected
      background-color grey-100
      border-radius 30px
      -moz-border-radius 30px
      -webkit-border-radius 30px
      display none
      height 30px
      margin-top -30px
      width 90%
  li
    border-left 15px solid mp-blue
    color grey-900
    cursor pointer
    padding 12px 0 0 45px
    .nav-label
      border-bottom 1px solid grey-200
      display block
      font-size 20px
      line-height 15px
      padding 0 0 19px 23px
    .nav-number
      color grey-300
      font-size 14px
    .selected
      color mp-blue

.sub-section
  color grey-900
  display block
  font-size 14px
  padding-top 7px
  text-align right
  width 92%

.visible
  display block !important

.color-swatches
  list-style-type none
  padding 0
  margin 60px 0 0 60px
  .visible
    display inline-block !important

.code-snippet
  padding-left 15px

.call-out
  color grey-900
  display inline-block
  text-transform uppercase
  &.extra
    margin-top 30px
  & > strong
    margin-left 15px
  label
    text-transform none
  p
    line-height 4px
    margin-left 45px
    text-transform none

.floating-label
  margin-top 0
  margin-left 0
  position absolute
  top -35px
  left 0

.icon
  font-size 14pt
  position relative
  top -1px
  left -5px

.snippet-container
  background-color grey-50
  border 1px solid grey-200
  border-radius 6px
  -moz-border-radius 6px
  -webkit-border-radius 6px
  font-size 14px
  margin 30px 0 0 45px
  position relative

.snippet-header
  color grey-700
  border-bottom 1px solid grey-200
  border-radius 6px 6px 0px 0px
  -moz-border-radius 6px 6px 0px 0px
  -webkit-border-radius 6px 6px 0px 0px
  padding 15px
  label
    text-transform uppercase
    letter-spacing 1.2px

.code-field
  background-color white
  border-left 1px solid grey-200
  border-radius 0px 0px 6px 0px
  -moz-border-radius 0px 0px 6px 0px
  -webkit-border-radius 0px 0px 6px 0px
  font-family monospace
  margin 0 0 0 45px
  padding 15px
  pre
    color grey-900
    display inline-block
    letter-spacing 1.5px
    line-height 20px
    margin -2px 0 0 -45px
    white-space pre-wrap
    &:nth-child(2n)
      margin-left 45px

pre
  span
    color mp-red
  b
    color grey-900
    font-weight 400

.swatch
  background-color white
  border 1px solid grey-150
  border-radius 6px
  -moz-border-radius 6px
  -webkit-border-radius 6px
  box-shadow 0px 2px 4px 0px rgba(0,0,0,0.05)
  -moz-box-shadow 0px 2px 4px 0px rgba(0,0,0,0.05)
  -webkit-box-shadow 0px 2px 4px 0px rgba(0,0,0,0.05)
  display inline-block
  height 250px
  margin 0 30px 45px 0
  width 200px

.color-library
  list-style-type none
  display inline-block
  text-align left
  width 40%
  min-width 375px
  margin-right 15px
  margin-bottom 45px
  .swatch-label
    color white
    position absolute
    top 10px
    right 30px
    font-size 16px
  .floating-label
    position relative
    top -15px
  li
    padding-left 30px
    min-width 400px
    position relative
  .sample
    height 140px
  .med
    font-size 18px
    padding 20px 0
    &:hover
      color rgba(255,255,255,1.0)
  input
    background transparent
    border none
    box-sizing border-box
    color rgba(255,255,255,0.3)
    outline none
    text-align left
    width 100%
    &.dark
      color rgba(76,96,114,0.3)

.swatch label, .swatch h3
  display block
  margin-left 15px

.sample
  background-size contain
  border-bottom 1px solid grey-150
  border-radius 6px 6px 0px 0px
  -moz-border-radius 6px 6px 0px 0px
  -webkit-border-radius 6px 6px 0px 0px
  display block
  height 180px
  width 100%

.swatch-label, h3
  color grey-900
  font-size 18px
  margin 12px 0 0  0

.swatch-hex
  color grey-900
  font-size 16px
  margin-top 3px

.weight-samples
  margin-top 60px
  &:last-child
    margin-bottom 75px

.specimen-container
  margin 0 0 0 60px
  position relative
  p
    margin 0

.specimen
  height 40px
  overflow scroll
  position absolute
  top 60px
  right 110px
  left 135px
  white-space nowrap

.left-col h1 , .left-col h3, .left-col h5
  color grey-700
  font-size 84px
  margin 0
  padding 0

.left-col, .right-col, .specimen
  display inline-block
  padding-bottom 0px

.left-col label, .left-col h1
  width 100%

.left-col
  label
    margin-bottom 30px

.right-col
  background-color #FCFCFC
  border-left 1px solid grey-200
  line-height 20px
  padding 5px 0 0 20px
  position absolute
  top 0
  right 0
  bottom 0
  width 120px
  a
    display inline-block
    position absolute
    bottom 0px
    left 20px

.size-samples
  margin-top 60px
  .right-col
    border-left none
    width auto
  .specimen-container
    border-bottom 1px dashed grey-200
    margin-top 23px
    margin-bottom 45px
    padding-bottom 15px
    label
      line-height 42px
  h1
    color grey-200
    margin-top 0
    &:hover
      color mp-blue

.floating-blue-bar
  background mp-blue
  box-shadow 0px 8px 22px 0px rgba(0,0,0,0.23)
  -moz-box-shadow 0px 8px 22px 0px rgba(0,0,0,0.23)
  -webkit-box-shadow 0px 8px 22px 0px rgba(0,0,0,0.23)
  padding 15px 0
  text-align right
  width auto
  &:last-child
    button
      margin-right 20px

.align-left
  text-align left

.card
  background white
  border-radius 6px
  -moz-border-radius 6px
  -webkit-border-radius 6px
  border 1px solid grey-100
  box-shadow 0px 1px 2px 0px rgba(0,0,0,0.14)
  -moz-box-shadow 0px 1px 2px 0px rgba(0,0,0,0.14)
  -webkit-box-shadow 0px 1px 2px 0px rgba(0,0,0,0.14)
  display inline-block
  margin 0 30px 20px 0
  position relative
  min-height 200px
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  &.has-button-bar
    border-bottom none
  &.narrow
    display inline-block
    width auto
    max-width 49%
    min-width 365px
  &.wide
    width 100%
  &.medium
    width 75%
  &.small
    width 450px
  &.truncated
    height 90px
    min-height 90px
  .primary
    background-image none
    background-color mp-blue
  .icon-button
    svg
      height 10px
      margin 0 0 2px 15px

.card-stack
  display inline-block
  .card
    display block
  p
    margin-top 39px

.blue-top
  background-color mp-blue
  border-bottom 1px solid blue-500
  border-radius 6px 6px 0px 0px
  -moz-border-radius 6px 6px 0px 0px
  -webkit-border-radius 6px 6px 0px 0px
  height 60px
  position absolute
  top -1px
  right -1px
  left -1px

.line-seperator
  border-right 1px solid blue-700
  border-left 1px solid rgba(255,255,255, .15)
  display inline-block
  height 40px
  margin 0 15px 0 30px
  vertical-align middle

.example-set
  padding-left 45px
  margin-top 5px
  width 100%
  .desc
    margin-bottom 75px
    margin-top -30px
    max-width 805px
    width 70%

.example
  border 1px dashed grey-200
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  display inline-block
  margin 10px 20px 45px 0
  padding 14px 15px
  position relative
  &.no-border
    border none
    padding 14px 0 0 0
    margin 10px 0 45px 0
    &.card
      margin-bottom 0
    p
      width 90%
  &.wrong
    background-color rgba(228,86,123,.1)
    border-color mp-red
    margin-bottom 65px

.example button:nth-child(2), .example button:nth-child(3)
  margin-left 15px

.wrong
  button
    &.secondary
      max-width none
  p
    color grey-900
    position absolute
    bottom -50px
    left 0
    white-space nowrap

.hidden
  display none

.modal-header
  color white
  position absolute
  top 20px
  right 0
  left 0
  text-align center

.modal-demo-line
  border-bottom 1px dashed grey-200
  margin -45px 0 30px 0
  padding-bottom 15px
  text-align right

.icon-header
  svg
    background-color white
    cursor pointer
    height 10px
    width 12px
    margin 26px 0 0 25px

.modal
  animation fadeIn 300ms forwards 100ms
  box-shadow 0px 17px 50px 0px rgba(0,0,0,0.19)
  height auto
  margin-left -280px
  opacity 0
  padding 105px 30px 30px 30px
  top 25vh
  left 50%
  width 560px

#dialogue-demo
  opacity 0
  z-index 1000
  &.modal
    margin-left -200px
    position fixed

.dialogue
  padding 0

.dialogue-menu
  border-top 1px solid grey-200
  margin-top 15px
  padding 15px 20px 15px 0
  text-align right
  & > button
    margin-left 10px

.dialogue-content
  min-height 92px
  padding 15px 30px 0 20px
  h1
    color grey-900
  p
    color grey-700
    line-height 18px
    margin-top 0
    padding-left 27px

#popup-demo
  opacity 0
  z-index 1000
  *
    display inline-block
  &.modal
    box-shadow 0 10px 40px rgba(0,0,0,0.15)
    margin-left -200px
    position fixed

.popup
  padding 30px
  button
    margin-left 0 !important
  h1
    margin-top -15px
  a
    border-bottom 1px dotted mp-blue
  .left
    border-right 1px solid grey-200
    padding-left 0

.icon-warning
  height 22px
  margin-bottom -6px
  width 22px
  background-image url(../../assets/icons/alert.svg)
  -webkit-mask-image url(../../assets/icons/alert.svg)
  background-repeat no-repeat

.popup-close
  svg
    cursor pointer
    height 12px
    position absolute
    right 30px
    top 30px
    width 12px

.dialogue-content svg, .dialogue-content h1, .dialogue-content p
  display inline-block

.fade-in
  animation fadeIn 300ms forwards

.fade-out
  animation fadeOut 300ms forwards

.button-field
  background white
  border 1px solid grey-200
  border-radius 4px 4px 4px 4px
  -moz-border-radius 4px 4px 4px 4px
  -webkit-border-radius 4px 4px 4px 4px
  box-sizing border-box
  color grey-900
  height 44px
  margin-bottom 30px
  outline none
  width 100%
  padding-left 15px

input
  &.button-field
    &:focus
      color grey-700
      font-weight 500
    &::-webkit-input-placeholder
      color grey-900
      font-weight 300 !important

.button-field-container
  display block !important
  margin 0 auto
  position relative

.card-header
  color grey-900

.icon-list
  color grey-900
  list-style-type none
  padding-left 0
  li
    background-image url(../../assets/icons/type-list.svg)
    -webkit-mask-image url(../../assets/icons/type-list.svg)
    background-size 16px
    background-repeat no-repeat
    background-position left 8px center
    margin-bottom 3px
    padding 8px 35px
    &:hover
      color mp-blue
  .selected
    background-color grey-100
    border-radius 5px
    color grey-700
    display block

.link
  margin-left 5px

.subheader
  color grey-700
  margin-top -30px
  margin-bottom 30px

.popup .left, .popup .right
  width 45%
  color grey-700
  padding-left 15px

button
  border 1px solid
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
  -moz-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
  -webkit-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
  box-sizing border-box
  cursor pointer
  display inline-block
  font-size 14px
  letter-spacing 0px
  line-height 14px
  max-width 165px
  min-width 90px
  outline none
  overflow hidden
  padding 15px 25px 13px 25px
  text-overflow ellipsis
  white-space nowrap
  &:hover
    box-shadow 0 1.5px 2.5px 0 rgba(0,0,0,0.3)
    -moz-box-shadow 0 1.5px 2.5px 0 rgba(0,0,0,0.3)
    -webkit-box-shadow 0 1.5px 2.5px 0 rgba(0,0,0,0.3)

.button-bar
  border-top 1px solid
  border-right none
  border-bottom none
  border-left none
  border-radius 0px 0px 6px 6px
  -moz-border-radius 0px 0px 6px 6px
  -webkit-border-radius 0px 0px 6px 6px
  box-shadow none
  line-height 19px
  margin 0
  max-width none
  min-height 50px
  padding 15px 0
  position absolute
  bottom 0
  left -1px
  width calc(100% + 2px)
  &.secondary
    background-image linear-gradient(0deg, white 0%, white 100%)
    border-color grey-200
    box-shadow none
    width 100%
    left 0
    &:active
      left -1px
      padding 3px 1px 0 0
      width calc(100% + 3px)
  &:active
    border transparent
    padding-top 16px
  &.primary
    &:active
      background-image linear-gradient(0deg, mp-blue 0%, mp-blue 100%)

.bar-corner
  background-color mp-blue
  border-radius 6px 0px 0px 0px
  -moz-border-radius 6px 0px 0px 0px
  -webkit-border-radius 6px 0px 0px 0px
  border-right 1px solid blue-500
  border-top none
  border-bottom none
  border-left none
  box-shadow none
  color white
  min-width 115px
  padding-top 19px
  position absolute
  top 0
  bottom 0
  left 0
  &.icon-button
    svg
      height 19px
      margin -3px 5px 0 -3px
      width 22px
    &.primary
      margin 0
  &:hover
    background-image linear-gradient(0deg, mp-blue 0%, blue-100 100%)
    margin 0
  &:active
    background-image linear-gradient(0deg, blue-500 0%, mp-blue 100%)
    box-shadow none
    border-right 1px solid blue-500
    border-bottom none
    border-top none
    border-left none

.field-button
  border-radius 0px 6px 6px 0px
  -moz-border-radius 0px 6px 6px 0px
  -webkit-border-radius 0px 6px 6px 0px
  margin 0
  position absolute
  top 0
  right 0
  &.primary
    box-shadow none

.icon-arrowLeft
  mask-image url(../../assets/icons/arrow-left.svg)
  -webkit-mask-image url(../../assets/icons/arrow-left.svg)

.icon-arrowRight
  mask-image url(../../assets/icons/arrow-right.svg)
  -webkit-mask-image url(../../assets/icons/arrow-right.svg)

.icon-cancel
  mask-image url(../../assets/icons/x.svg)
  -webkit-mask-image url(../../assets/icons/x.svg)

.icon-create
  mask-image url(../../assets/icons/plus.svg)
  -webkit-mask-image url(../../assets/icons/plus.svg)

.icon-caret-down
  mask-image url(../../assets/icons/caret-down.svg)
  -webkit-mask-image url(../../assets/icons/caret-down.svg)

.icon-overflow
  mask-image url(../../assets/icons/ellipsis.svg)
  -webkit-mask-image url(../../assets/icons/ellipsis.svg)

.primary
  background-image linear-gradient(0deg, mp-blue 0%, blue-100 100%)
  border-color blue-500
  color white
  &.dark
    border 1px solid blue-900
    box-shadow none
    &:hover
      background-image linear-gradient(0deg, mp-blue 0%, blue-100 100%)
      box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
      -moz-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
      -webkit-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.2)
    &:active
      box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
      -moz-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
      -webkit-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
      border 1px solid blue-700
  &:hover
    background-image linear-gradient(0deg, blue-100 0%, blue-100 100%)
  &:active
    border 1px solid mp-blue
    background-image linear-gradient(0deg, mp-blue 0%, blue-100 100%)
    box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
    -moz-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
    -webkit-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
    color rgba(255,255,255,0.6)

.secondary
  background-image linear-gradient(0deg, grey-50 0%, white 100%)
  border-color grey-300
  box-shadow 0px 1px 1px 0px rgba(0,0,0,0.1)
  -moz-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.1)
  -webkit-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.1)
  color grey-700
  --main-color grey-700
  padding 15.5px 25px 13.5px 25px
  &.dark
    background-image none
    background-color transparent
    border none
    box-shadow none
    color rgba(255,255,255,0.4)
    padding 13px 23px 12px 23px
    &:hover
      background-image none
      box-shadow none
      color white
    &:active
      background-color mp-blue
      border none
      color rgba(255,255,255,.6)
  &:hover
    background-image linear-gradient(0deg, white 0%, white 100%)
    color mp-blue
    box-shadow 0 1px 2px 0 rgba(0,0,0,0.23)
    -moz-box-shadow 0 1px 2px 0 rgba(0,0,0,0.23)
    -webkit-box-shadow 0 1px 2px 0 rgba(0,0,0,0.23)
  &:active
    border 1px solid grey-200
    box-shadow 0px 1px 0px 0px grey-150, inset 0px 2px 3px 0px grey-200
    -moz-box-shadow 0px 1px 0px 0px grey-150, inset 0px 2px 3px 0px grey-200
    -webkit-box-shadow 0px 1px 0px 0px grey-150, inset 0px 2px 3px 0px grey-200
    color rgba(110,133,157,0.8)

.caution
  background-image linear-gradient(0deg, mp-red 0%, red-300 100%)
  border-color red-700
  color white
  &:hover
    background-image linear-gradient(0deg, red-300 0%, red-300 100%)
  &:active
    background-image linear-gradient(0deg, mp-red 0%, red-300 100%)
    box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
    -moz-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
    -webkit-box-shadow 0px 1px 1px 0px rgba(0,0,0,0.0), inset 0px 2px 2px 0px rgba(0,0,0,0.2)
    color rgba(255,255,255,0.6)

.icon-button
  svg
    background-color currentColor
    height 12px
    margin 0 6px 2px -4px
    vertical-align middle
    width 12px

.drop-button
  padding 12.5px 20px 11.5px 20px
  svg
    background-color currentColor
    display inline-block
    height 6px
    margin 0 45px 2px 30px
    width 12px
    vertical-align middle
  &.split
    max-width none
    padding-right 10px
    position relative
  &:hover
    .drop-var
      svg
        background-color var(--main-color)

.drop-var
  border-left 1px solid grey-300
  display inline-block
  margin-left 10px
  padding-left 10px
  position absolute
  top 0
  bottom 0
  right 0
  svg
    background-repeat no-repeat
    height 18px
    margin 10px 10px 0 0
    width 18px

.button-bar:hover, .bar-corner:hover
  box-shadow none

.primary:disabled, .secondary:disabled, .caution:disabled
  cursor default
  box-shadow none

.primary:disabled:hover, .secondary:disabled:hover, .caution:disabled:hover
  box-shadow none

.primary:disabled, .primary:disabled:hover
  background-image linear-gradient(0deg, mp-blue 0%, blue-100 100%)
  color rgba(255,255,255,0.6)

.secondary:disabled, .secondary:hover:disabled
  background-image linear-gradient(0deg, grey-50 0%, white 100%)
  color rgba(110,133,157,0.6)

.caution:disabled, .caution:disabled:hover
  background-image linear-gradient(0deg, mp-red 0%, red-300 100%)
  color rgba(255,255,255,0.6)

.secondary.dark:disabled, .secondary.dark:hover:disabled
  background-image none
  background-color rgba(255,255,255,0)
  border none
  color rgba(255,255,255,0.4)

.toggle-bar
  background-color grey-100
  border-radius 50px
  box-shadow inset 0px 1px 0px 0px grey-150
  display flex
  margin 0
  padding 3px
  li
    border-radius 50px
    color grey-900
    align-items center
    -webkit-box-align center
    -ms-flex-align center
    display flex
    display -webkit-box
    display -ms-flexbox
    flex-grow 1
    -webkit-box-flex 1
    -ms-flex-positive 1
    height 30px
    justify-content center
    -webkit-box-pack center
    -ms-flex-pack center
    text-align center
  &.large
    li
      height 40px
  &.dark
    background-color blue-700
    box-shadow inset 0px 1px 0px 0px blue-900
    margin 0 30px
    li
      color rgba(255, 255, 255, .45)
      &.selected
        color white
        background-color blue-100
      &:hover
        color white

.toggle-bar li:hover, .toggle-bar
  color mp-blue

li.selected:hover, .toggle-bar
  color currentColor

li
  &.selected
    color grey-700
    background-color white
    box-shadow 0px 1px 0px 0px rgba(0,0,0,0.05)

.drop-link
  margin 11px 10px
  cursor pointer
  a
    color grey-700
    &:hover
      color mp-blue
  svg
    background-color currentColor
    display inline-block
    height 6px
    margin 0 0 2px 10px
    width 12px
    vertical-align middle

.overflow-button
  cursor pointer
  position absolute
  top 15px
  right 15px
  svg
    background-color currentColor
    display inline-block
    height 15px
    margin 10px
    width 3px
    vertical-align middle
  &:hover
    color mp-blue

.example-header
  background-color grey-100
  border-bottom 1px solid grey-200
  position absolute
  top 0
  right -1px
  left -1px
  height 60px