@import '../../stylesheets/defaults'

// Much of these styles taken from https://github.com/lukehaas/css-loaders (MIT license)
.spinner, .spinner:after
  border-radius 50%
  width 100%
  height 100%

.spinner
  position relative
  border 3px solid mp-blue
  border-right-color #fff
  transform translateZ(0)
  animation load 1.0s infinite linear

@keyframes load
  0%
    transform rotate(0deg)

  100%
    transform rotate(360deg)
